
body /*全局body风格设置*/
{
    height: 100%;
    width: 100%;
    margin: 0;
    font-size: 12px;
}
a:hover
{
    color: #ffd200;
}
div, h1, h2, p, form, label, input, textarea, img, span
{
    /*全局风格设置*/
    margin: 0;
    padding: 0;
}

.NavBody
{
    /*左边导航页body风格设置*/
    margin: 0;
    background-color: #E8E8E8;
    color: #000;
    overflow-x: hidden;
}
/*中间左右结构左边导航*/
.LeftContent
{
    overflow: auto;
    width: 30%; /* optional, initial splitbar position */
    min-width: 230px; /* optional */
    border: #6a7173 solid 0px;
    float: left;
}
/*模板页样式设置开始*/
#SplitContent div
{
    overflow: auto;
}
#SplitContent .vsplitbar
{
    width: 5px;
    cursor: e-resize;
    background: #87CEEB url(Images/Spliter/spliter.gif) repeat-y left;
}
#SplitContent .vsplitbar.active, #SplitContent .vsplitbar:hover
{
    background: #87CEEB url(Images/Spliter/spliter.gif) repeat-y left;
}
/*模板页样式设置结束*/
/*中间左右结构右边导航*/
.RightContent
{
    overflow: auto;
    width: 70%;
    min-width: 580px;
    float: right;
    border: #CC0000 solid 0px;
}
/*---------框架中区域风格设置----------*/
.vsplitbar
{
    padding-left: 2px;
    padding-top: 2px;
    float: left;
    height: 500px;
    overflow: auto;
    width: 5px;
    cursor: e-resize;
    background: #87CEEB url(Images/Spliter/spliter.gif) repeat-y left;
}
.HaveClick
{
    font-family: "宋体";
    font-size: 12px;
    background-image: url('Images/Content/WorkItemTabSelectbg.gif');
    color: #000000;
    text-align: center;
}

.HaveNoClick
{
    font-family: "宋体";
    font-size: 12px;
    color: #000000;
    background-image: url('Images/Content/WorkItemTabbg.gif');
    text-align: center;
}
.textlan
{
    font-family: "宋体";
    font-size: 12px;
    color: #003399;
}
.texthei
{
    font-family: "宋体";
    font-size: 12px;
    color: #6a7173;
}

#news
{
    border: #006600 solid 0px;
    width: 100%;
    height: 480px;
}
#news h5
{
    display: block;
    width: 100%;
    height: 30px;
    float: left;
    display: block;
    background: url(Images/Content/AreaLine.gif) 0 28px no-repeat;
    color: #003399;
    font: bold 13px/27px 宋体, Helvetica, sans-serif;
    line-height: 28px;
    margin: 10px 0 0px 0;
}
#news p
{
    font: 12px/27px 宋体, Helvetica, sans-serif;
    color: #6a7173;
    line-height: 18px;
}
#news p.captionone
{
    background: #fff;
    color: #003399;
    font: bold 13px/27px 宋体, Helvetica, sans-serif;
    line-height: 30px;
}
#news ul
{
    padding: 0 0 0 5px;
    width: 100%;
    clear: both;
}

#news ul li.nor
{
    display: block;
    background: url(Images/Content/ArrowWhiteHover.gif) 0 9px no-repeat;
    padding: 0 0 0 9px;
    font: 12px/27px 宋体, Helvetica, sans-serif;
    color: #6a7173;
    background-color: inherit;
}


#news ul li.nor0
{
    display: block;
    background: url(Images/Content/ArrowWhiteHover.gif) 0 9px no-repeat;
    padding: 0 0 0 9px;
    font: 12px/27px 宋体, Helvetica, sans-serif;
    color: #6a7173;
    background-color: inherit;
}
#news ul li.nor0 img
{
    text-align: center;
    padding-right: 10px;
}
#news ul li.nor0 span.left
{
    float: left;
}
.RightArea
{
    float: left;
    margin-left: 0;
    background-color: #fff;
    position: absolute;
}
.MainContent
{
    height: auto;
    padding-top: 18px;
    padding-left: 5px;
    float: left;
    border: #CC0000 solid 0px;
}

/*---------框架中区域风格设置结束----------*/

/*---------框架右区域风格设置----------*/
#rightPan
{
    width: 26%;
    float: right;
    margin-right: 4px;
    padding-top: 0px;
    border: #CC0000 solid 0px;
    text-align: left;
}

#rightPan h5
{
    display: block;
    height: 30px;
    float: left;
    background: url("Images/Content/RightAreaLine.gif") 0 28px no-repeat;
    color: #003399;
    font: bold 13px/27px 宋体, Helvetica, sans-serif;
    line-height: 28px;
    width: 100%;
    margin: 10px 0 0px 0;
    vertical-align: middle;
}
#rightPan ul
{
    padding: 0 0 0 0;
    width: 100%;
}
#rightPan ul li
{
    width: 100%;
}
#rightPan ul li.Pan
{
    display: block;
    background: url("Images/Content/RedPointLeft.gif") 0 6px no-repeat;
    padding: 0 0 0 18px;
    font: 12px/27px 宋体, Helvetica, sans-serif;
    color: #6a7173;
    background-color: inherit;
}
#rightPan P
{
    background: #fff;
    color: #003399;
    font: bold 13px/27px 宋体, Helvetica, sans-serif;
    padding-left: 20px;
}
/*----------左边导航控件风格设置----------*/
.LeftMenu
{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 0;
    background-color: #FFFFFF;
    overflow: auto;
}
/*---------框架右区域风格设置结束----------*/
/*登录页字体*/
.login_text
{
    font-size: 12px;
    color: #285990;
    text-decoration: none;
    font-family: "宋体";
    font-weight: bold;
}

.MenuItem
{
    margin: 0;
    padding: 0;
}

.L1 a:link, .L1 a:visited
{
    background: url("Images/Menu/leftbar_valid.png");
    font-size: 9pt;
    display: block;
    text-decoration: none;
    vertical-align: middle;
    height: 24px;
    border-bottom: 1px solid #cecece;
}

.L1 a:link span, .L1 a:visited span
{
    position: absolute;
    overflow: hidden;
    width: 90%;
    height: 24px; /* background: url("Images/Menu/ArrowNormal.png") no-repeat right;*/
    vertical-align: middle;
    padding: 6px 0px 0px 5px;
    cursor: pointer;
    color: #282828;
    font-size: 13px;
    font-weight: bold;
}
.L1 a:hover
{
    color: #282828;
    font-weight: bold;
    background: url("Images/Menu/leftbar_hover.png");
    background-position: 0 -24px;
}
/*  一级菜单 active 效果  */
.L1 a:link.active, .L1 a:hover.active, .L1 a:active.active, .L1 a:visited.active
{
    background: url("Images/Menu/leftbar_current.png");
    background-position: 0 -24px; /*color: #FFFFFF;*/
    white-space: nowrap;
    color: #282828;
}
.L1 a:link.active span, .L1 a:hover.active span, .L1 a:active.active span, .L1 a:visited.active span
{
    color: #282828;
    font-weight: bold;
}

.L21 A:link
{
    padding-left: 13px;
    display: block; /* background: none transparent scroll repeat 0% 0%;*/
    background: none;
    height: 24px;
    color: #282828;
    padding-top: 4px;
    position: relative;
    font-size: 9pt;
    vertical-align: middle;
    text-decoration: none;
    overflow: hidden;
}
.L21 A:visited
{
    padding-left: 13px;
    display: block; /* background: none transparent scroll repeat 0% 0%;*/
    background: none;
    height: 24px;
    color: #000000;
    padding-top: 4px;
    position: relative;
    padding-top: 4px;
    font-size: 9pt;
    text-decoration: none;
    overflow: hidden;
}
.L22 A:link
{
    padding-left: 13px;
    display: block; /* background: none transparent scroll repeat 0% 0%;*/
    background: none transparent scroll repeat 0% 0%;
    position: relative;
    height: 26px;
    padding-top: 4px;
    color: #282828;
    font-size: 9pt;
    text-decoration: none;
    overflow: hidden;
}
.L22 A:visited
{
    padding-top: 4px;
    padding-left: 13px;
    display: block;
    background: none transparent scroll repeat 0% 0%;
    height: 26px;
    color: #000000;
    font-size: 9pt;
    text-decoration: none;
    overflow: hidden;
}
.L3 A:link
{
    padding-left: 13px;
    display: block;
    background: none transparent scroll repeat 0% 0%;
    height: 26px;
    line-height: 26px;
    color: #FFFFFF;
    font-size: 9pt;
    text-decoration: none;
}
.L3 A:visited
{
    padding-left: 13px;
    display: block;
    background: none transparent scroll repeat 0% 0%;
    height: 26px;
    line-height: 26px;
    color: #fff;
    font-size: 9pt;
    text-decoration: none;
}
.L21 A:link SPAN
{
    padding-bottom: 0px;
    padding-left: 16px;
    width: 100%;
    padding-right: 0px;
    background: url("Images/Menu/triangle_collapse.png") no-repeat left center;
    vertical-align: middle;
    position: relative;
    top: 2px;
    cursor: pointer;
    padding-top: 4px;
}
.L21 A:visited SPAN
{
    padding-bottom: 0px;
    padding-left: 16px;
    width: 100%;
    padding-right: 0px;
    background: url("Images/Menu/triangle_collapse.png") no-repeat left center;
    padding-top: 4px;
    vertical-align: middle;
    position: relative;
    top: 2px;
    cursor: pointer;
}
.L22 A:link SPAN
{
    padding-left: 16px;
    width: 100%;
    padding-right: 0px;
    vertical-align: middle;
    top: 2px;
    cursor: pointer;
    position: relative;
    padding-top: 4px;
}
.L22 A:visited SPAN
{
    padding-bottom: 0px;
    padding-left: 16px;
    width: 100%;
    top: 2px;
    padding-right: 0px;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    padding-top: 4px;
}
.L3 A:link SPAN
{
    padding-bottom: 0px;
    padding-left: 16px;
    width: 100%;
    padding-right: 0px;
    background: url("Images/Menu/triangle_collapse.png") no-repeat left center;
    vertical-align: middle;
    cursor: pointer;
    padding-top: 4px;
}
.L3 A:visited SPAN
{
    padding-bottom: 0px;
    padding-left: 16px;
    width: 100%;
    padding-right: 0px;
    background: url("Images/Menu/triangle_collapse.png") no-repeat left center;
    vertical-align: middle;
    cursor: pointer;
    padding-top: 4px;
}

.L3 A:link SPAN
{
    background: none transparent scroll repeat 0% 0%;
}
.L3 A:visited SPAN
{
    background: none transparent scroll repeat 0% 0%;
}
.L21 A:hover
{
    background: url("Images/Menu/leftbar_hover.png") no-repeat top left;
    font-weight: bold;
    text-decoration: none;
    background-color: #fff9ce;
}
.L22 A:hover
{
    background: url("Images/Menu/leftbar_hover.png") no-repeat top left;
    font-weight: bold;
    background-color: #fff9ce;
}
.L3 A:hover
{
    background: url("Images/Menu/leftbar_hover.png") no-repeat top left;
    font-weight: bold;
    text-decoration: none;
    background-color: #fff9ce;
}
.L3 A:link SPAN
{
    padding-bottom: 0px;
    padding-left: 26px;
    padding-right: 0px;
    padding-top: 4px;
}
.L3 A:visited SPAN
{
    padding-bottom: 0px;
    padding-left: 26px;
    padding-right: 0px;
    padding-top: 4px;
}


.L21 A.active:link
{
    background: none transparent scroll repeat 0% 0%;
    padding-top: 4px;
    position: relative;
}
.L21 A.active:visited
{
    background: none transparent scroll repeat 0% 0%;
    padding-top: 4px;
    position: relative;
}

.L21 A.active:hover
{
    background: none transparent scroll repeat 0% 0%;
    text-decoration: none;
}
.L21 A.active:active
{
    background: none transparent scroll repeat 0% 0%;
    position: relative;
}
.L21 A.active:link SPAN
{
    background: url("Images/Menu/triangle_expand.png") no-repeat left center;
    padding-top: 4px;
    color: #000000;
    font-weight: bold;
    position: relative;
}
.L21 A.active:visited SPAN
{
    background: url("Images/Menu/triangle_expand.png") no-repeat left center;
    color: #000000;
    font-weight: bold;
    position: relative;
}
.L21 A.active:hover SPAN
{
    background: url("Images/Menu/triangle_expand.png") no-repeat left center;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    position: relative;
}
.L21 A.active:active SPAN
{
    background: url("Images/Menu/triangle_expand.png") no-repeat left center;
    color: #000000;
    font-weight: bold;
    position: relative;
}

.L22 A.active:link
{
    background: url("Images/Menu/leftbar_current.png") repeat-x;
    position: relative;
}
.L22 A.active:hover
{
   background: url("Images/Menu/leftbar_current.png") repeat-x;
    text-decoration: none;
    position: relative;
}

.L22 A.active:visited
{
    background: url("Images/Menu/leftbar_current.png") repeat-x;
    color: #fff;
    position: relative;
}
.L3 A.active:link
{
    background: none transparent scroll repeat 0% 0%;
    color: #fff;
    position: relative;
}
.L3 A.active:hover
{
    background: none transparent scroll repeat 0% 0%;
    color: #fff;
    text-decoration: none;
}
.L3 A.active:active
{
   background: none transparent scroll repeat 0% 0%;
    color: #fff;
    position: relative;
}
.L3 A.active:visited
{
    background: url("Images/Menu/leftbar_current.png") repeat-x;
    color: #ffffff;
    position: relative;
}
.L22 A.active:link SPAN
{
    background: none transparent scroll repeat 0% 0%;
    color: #282828;
    font-weight: bold;
    position: relative;
}
.L22 A.active:hover SPAN
{
    background: none transparent scroll repeat 0% 0%;
    color: #282828;
    font-weight: bold;
    text-decoration: none;
    position: relative;
}
.L22 A.active:active SPAN
{
    background: none transparent scroll repeat 0% 0%;
    color: #282828;
    font-weight: bold;
    position: relative;
}
.L22 A.active:visited SPAN
{
    background: none transparent scroll repeat 0% 0%;
    color: #fff;
    font-weight: bold;
    position: relative;
}
.L3 A.active:link SPAN
{
    background: none transparent scroll repeat 0% 0%;
    color: #ffffff;
    font-weight: bold;
}
.L3 A.active:hover SPAN
{
    background: none transparent scroll repeat 0% 0%;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}
.L3 A.active:active SPAN
{
    background: none transparent scroll repeat 0% 0%;
    color: #ffffff;
    font-weight: bold;
}
.L3 A.active:visited SPAN
{
    background: none transparent scroll repeat 0% 0%;
    color: #ffffff;
    font-weight: bold;
}

/*----------左边导航控件风格设置结束----------*/
/*----------Footer风格设置----------*/
.Footer
{
    font-size: 12px;
    background-image: url(Images/Footer/Footerbg.png);
    background-repeat: repeat-x;
    height: 28px;
    margin-top: 0px;
    margin-left: 0px;
    color: #FFFFFF;
    padding-top: 5px;
    padding-left: 5px;
}
.AllRights
{
    color: #173d86;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: center;
}

.GridViewTitle
{
    height: 25px;
    text-align: center;
    vertical-align: middle;
    font-size: small;
    background: #F2F2F2;
    font-weight: lighter;
}

/*----------Footer风格设置结束----------*/

/*----------Header风格设置----------*/
.HeaderBg
{
    background: url(Images/Header/HeaderBg.gif) 0 0 repeat-x;
    width: 100%;
    height: 100px;
    margin: 0 auto;
}

.HomeLink
{
    padding-top: 3px;
    background: url(Images/Header/HomeLinkBg.gif) 0 0 no-repeat;
    text-align: center;
    height: 25px;
}
.HeaderLinkArea a
{
    color: White;
}
.SettingLink
{
    padding-top: 3px;
    background: url(Images/Header/SettingLinkBg.gif) 0 0 no-repeat;
    text-align: center;
    height: 25px;
}

.ShortcutArea
{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 0;
    width: 80%;
    height: 78px;
    position: absolute;
    top: 25px;
    left: 315px;
}

#ShortcutArea li
{
    float: left;
    height: 78px;
}

#ShortcutArea li.scIM a
{
    width: 72px;
    height: 75px;
    display: block;
    border: 0;
    background: url(Images/Controls/Shortcut/IMIcon.gif) 0 0 no-repeat;
    margin: 0 0px 0 0;
}
#ShortcutArea li.scIM a:hover
{
    background: url(Images/Controls/Shortcut/IMIconHover.gif) 0 0 no-repeat;
}
#ShortcutArea li.scSMS a
{
    width: 72px;
    height: 75px;
    display: block;
    border: 0;
    background: url(Images/Controls/Shortcut/SMSIcon.gif) 0 0 no-repeat;
    margin: 0 0 0 0;
}
#ShortcutArea li.scSMS a:hover
{
    background: url(Images/Controls/Shortcut/SMSIconHover.gif) 0 0 no-repeat;
}

#ShortcutArea li.scCP a
{
    width: 72px;
    height: 75px;
    display: block;
    border: 0;
    background: url(Images/Controls/Shortcut/CPIcon.gif) 0 0 no-repeat;
    margin: 0 0 0 0;
}
#ShortcutArea li.scCP:hover
{
    background: url(Images/Controls/Shortcut/CPIconHover.gif) 0 0 no-repeat;
}

#ShortcutArea li.scPF a
{
    width: 72px;
    height: 75px;
    display: block;
    border: 0;
    background: url(Images/Controls/Shortcut/PFIcon.gif) 0 0 no-repeat;
    text-indent: -200000px;
    margin: 0 4px 0 0;
}
#ShortcutArea li.scPF:hover
{
    background: url(Images/Controls/Shortcut/PFIconHover.gif) 0 0 no-repeat;
}
#ShortcutArea li.scOL a
{
    width: 72px;
    height: 75px;
    display: block;
    border: 0;
    background: url(Images/Controls/Shortcut/OLIcon.gif) 0 0 no-repeat;
    text-indent: -200000px;
    margin: 0 0px 0 0;
}
#ShortcutArea li.scOL a:hover
{
    background: url(Images/Controls/Shortcut/OLIconHover.gif) 0 0 no-repeat;
}

.LogoImage
{
    border: 0px;
    position: absolute;
    left: 10px;
    top: 10px;
    width: 278px;
    height: 43px;
}
.SearchList
{
    border-bottom: #02339c 1px solid;
    border-right: #02339c 1px solid;
    border-top: #02339c 1px solid;
    border-left: #02339c 1px solid;
    font-size: 10px;
    height: 16px;
    width: 150px;
}
.SearchKeyword
{
    font-size: 11px;
    height: 15px;
    width: 90px;
    border-bottom: #02339c 1px solid;
    border-right: #02339c 1px solid;
    border-top: #02339c 1px solid;
    border-left: #02339c 1px solid;
}
.SearchDiv
{
    position: absolute;
    top: 74px;
    right: 5px;
    float: right;
    vertical-align: middle;
}
.SearchButton
{
    cursor: pointer;
    width: 20px;
    height: 20px;
    border: none;
    background: url(Images/Header/SearchIcon.gif) no-repeat 0 0;
}
.SearchAdvLink
{
    padding-left: 3px;
    color: White;
    font-size: 11px;
    vertical-align: text-top;
}
.HeaderLinkArea
{
    margin: 0;
    position: absolute;
    padding: 0 5px;
    left: 2px;
    top: 70px;
}

.WellcomeTextDiv
{
    position: absolute;
    right: 2px;
    top: 5px;
}
.WellcomeTextDiv a
{
    color: White;
    font-style: italic;
    font-size: 10px;
}
/*----------Header风格设置结束----------*/
