.ErrorPageButton
{
	background:url(Images/Error/ButtonBg.gif) 0 0  no-repeat;
	border:0px;
	color:Black;
	width:80px;
	height:24px;
}
.Button180
{
	background:url(Images/Controls/ButtonBg180.gif) 0 0  no-repeat;
	border:0px;
	color:Black;
	width:180px;
	height:23px;
	cursor: hand;
}
.Button120
{
	background:url(Images/Controls/ButtonBg120.gif) 0 0  no-repeat;
	border:0px;
	color:Black;
	width:120px;
	height:23px;
}
.Button100
{
	background:url(Images/Controls/ButtonBg100.gif) 0 0  no-repeat;
	border:0px;
	color:Black;
	width:100px;
	height:23px;
}
.Button80
{
	background:url(Images/Controls/ButtonBg80.gif) 0 0  no-repeat;
	border:0px;
	color:Black;
	width:80px;
	height:23px;
}
.NormalButton
{
	background:url(Images/Controls/ButtonBg-2l.gif) repeat-x;
	border:0;    	
	vertical-align: middle;
    width: 65px;
    height: 23px;    
    cursor: pointer;
    border:#50ba1a 1px solid;
    font-size: 12px;
    color: #2e8100;
    font-weight:bold;
}
.NormalButton:hover
{
	 	
	vertical-align: middle;
    width: 65px;
    height: 23px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    font-size: 12px;
    color: #254a8e;
}
.SignButton
{
	background:url(Images/Controls/ButtonBg-2l.gif) 0 0  no-repeat;
	border:0;    	
	vertical-align: middle;   
    height: 23px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    font-size: 12px;
    color: #254a8e;
}
.SignButton:hover
{
	background:url(Images/Controls/ButtonBg-2h.gif) 0 0  no-repeat;    	
	vertical-align: middle;    
    height: 23px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    font-size: 12px;
    color: #254a8e;
}
.Button6
{
	background:url(Images/Controls/ButtonBg-6l.gif) 0 0  no-repeat;
	border:0;    	
	vertical-align: middle;
    width: 105px;
    height: 23px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    font-size: 12px;
    color: #254a8e;
}
.Button6:hover
{
	background:url(Images/Controls/ButtonBg-6h.gif) 0 0  no-repeat;    	
	vertical-align: middle;
    width: 105px;
    height: 23px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    font-size: 12px;
    color: #254a8e;
}
.ControlIndicator
{
	font-style:italic;
	color:Red;
	font-size:small;
}
.ToolbarNormal
{
	background-color:#F2F2F2;
}
.CaptionText
{
	font-weight:bold;
	font-family:Arial Calibri;
	color:#fff;
}
.CaptionBar
{
	background:url(Images/Controls/Toolbar/CaptionBg.gif) 0 0  repeat-x;
}
.TextArea
{
	border-bottom:#AEC6D2 1px solid; 
	border-right:#AEC6D2 1px solid; 
	border-top:#AEC6D2 1px solid;
	border-left:#AEC6D2 1px solid; 
	border:1px solid #AEC6D2;
	vertical-align : middle;
	font-family:Arial Calibri;
}
.InputText
{
	border-bottom:#AEC6D2 1px solid; 
	border-right:#AEC6D2 1px solid; 
	border-top:#AEC6D2 1px solid;
	border-left:#AEC6D2 1px solid; 
	border:1px solid #AEC6D2;
	vertical-align : middle;
    width:148px;
	font-family:Arial @宋体 Calibri Times New Roman;
	/*
	height:18px;
	padding-top:2px;
	*/
}
input:focus, input.sffocus, textarea.sffocus
{
    
    border: solid 1px #FF0000;
    
}
.OptionText
{
	
	border-bottom:#AEC6D2 1px solid; 
	border-right:#AEC6D2 1px solid; 
	border-top:#AEC6D2 1px solid;
	border-left:#AEC6D2 1px solid; 
	border:1px solid #AEC6D2;
	vertical-align : middle;
	width:150px;
	font-family: "Arial @宋体 Calibri Times New Roman";
	/*
	height:20px;
	*/
}
/************************************ContactPerson Search Style Begin***************************************/
.ContactSearch
{
	position: relative;
}
.ContactKeyword
{
	color: #ccc; 
	position: absolute; 
	left: 13px; 
	top: 3px; 
	display: block; 
	height: 22px; 
	line-height: 22px; 
	font-size: 12px;
}
/************************************ContactPerson Search Style End***************************************/

/************************************DatePicker Style Begin***************************************/
.DatePicker_Text
{
	font-size: 12px;
	font-family: MS Sans Serif; 
	padding: 4px;
	font-weight: normal;
	padding-bottom: 1px;
	margin: 0px;
	padding-top: 2px;
	letter-spacing: 1px;
	height: 18px;
	border:none 1px black;
	border-bottom:solid 1px black;
}
.DatePicker_Button
{
	background-repeat:no-repeat;
	background-image:url(Images/Controls/DatePicker/Calendar.jpg);
	background-position:center;
	border-left: 0px solid;
	text-align:center;
	height: 20px;
	width: 20px;
	cursor:hand;
	border:none;
}
.DatePicker_DisText
{
	font-size: 12px;
	font-family: MS Sans Serif; 
	padding: 4px;
	font-weight: normal;
	padding-bottom: 1px;
	margin: 0px;
	padding-top: 2px;
	letter-spacing: 1px;
	height: 19px;
	filter:gray();
	color: graytext; 
	cursor: default;
	border:none 1px black;
	border-bottom:solid 1px black;
}
.DatePicker_DisButton
{
	background-image: url(Images/Controls/DatePicker/Calendar.jpg);
	border-left: 0px solid;
	width: 100%;
	height: 19px;
	filter:gray();
	color: graytext; 
	cursor: default;
	border:none 1px black;
	border-bottom:solid 1px black;
}
.MdateSelect		{border:1px solid #999999; background-color:white}
.MdateField		{width:76px; border:0; font-size:11px; padding:1px 0 0 3px}
.MmonthRolldown	{width:90px; font-size:12px}
.MyearInput		{width:38px; font-size:12px}
.MbuttonsRow		{background-color:#DDDDDD}
.McalendarTitles TD{border-bottom:1px solid black;font-family: MS Sans Serif; font-size:12; color:graytext;}
.Mcalendar TD		{font-size:12px; font-family: MS Sans Serif; font-weight:normal}
.MinMonth			{color:#000000; text-decoration:none; width:22px; height:12px}
.MnotInMonth		{color:RED; text-decoration:none; width:22px; height:12px}
.MinMonth:hover	{font-weight:bold}
.MnotInMonth:hover	{font-weight:bold}
.MoutOfRange		{color:red}
.MDateFrame{ border-left:1px solid #DDDDDD;border-right:1px solid #DDDDDD; }

#MdateSelector		{position:absolute; left:0; top:0; visibility:hidden; border:1px solid white; background-color:#FFFFFF; font-family:Arial,Helvetica,Sans-Serif; font-size:12px}
#MdateToday		{font-size:10px; font-family: MS Sans Serif; font-weight:bold}
#MrangeCell		{background-color:#EEEEEE; font-size:11px; text-align:center}
/************************************DatePicker Style End***************************************/
/* Modal Styles  以下样式控制弹出“用户选择”模态窗口的样式begin*/
.CommonModalMask
{
    opacity: .4;
    filter: alpha(opacity=40);
    background-color: #333333;
}

.CommonModal
{
    border-style: solid;
    border-width: 1px;
    border-color: #888888;
    border-right-width: 3px;
    border-right-color: #888888;
    border-bottom-width: 3px;
    border-bottom-color: #888888;
    background-color: #eeeeee;
}

.CommonModalTitle
{
    font-family: Tahoma, Arial, Helvetica;
    height: 20px;
    font-size: 18px;
    padding-bottom: 3px;
    padding-top: 3px;
    padding-right: 3px;
    padding-left: 7px;
    border-style: solid;
    border-width: 0px;
    border-bottom-width: 1px;
    border-color: #cccccc;
    background-color: #e2eecd;
    color: #698d73;
    font-weight: bold;
    cursor: move;
    overflow: hidden;
    vertical-align: middle;
    background-image: url(/Images/Control/tanchu_04.gif);
    background-repeat: repeat-x;
}

.CommonModalClose
{
    width: 33px;
    height: 20px;
    background-repeat: no-repeat;
    overflow: hidden;
    cursor: pointer;
    float: right;
    background-image: url(/Images/Control/tanchu_09.gif);
    background-position: center center;
}

.CommonModalContent
{
    background-color: #ffffff;
}

.CommonModalFooter
{
    border-style: solid;
    border-width: 0px;
    border-top-width: 1px;
    border-color: #cccccc;
    background-color: #f1f7fb;
    padding: 2px;
}

.CommonModalResize
{
    width: 14px;
    height: 14px;
    background-image: url(/Images/Control/resize.gif);
    background-repeat: no-repeat;
    overflow: hidden;
    float: right;
    cursor: se-resize;
}

.CommonTextButton
{
    padding: 2px;
    border-style: solid;
    border-width: 1px;
    border-color: #999999;
    border-top-color: #cccccc;
    border-left-color: #cccccc;
    background-color: #eeeeee;
    color: #333333;
    font-family: Tahoma, Arial, Helvetica;
    font-size: 12px;
    font-weight: bold;
    white-space: nowrap;
}

/* Modal Styles  以下样式控制弹出“用户选择”模态窗口的样式end*/

/* 树控件的样式 begin*/
.tree td div
{
    height: 20px !important;
}
.treeNodeHover
{
    cursor: hand;
    background-color: #e7ffb3;
}
.treeNodeSelected
{
    background-color: #66CDAA;
    border: 1px solid #66CDAA;
    color: Red;
}

.treeSearchbox
{
    background-position: 1px 1px;
    padding-left: 20px;
    font-size: 12px;
    background-image: url('/Images/Control/op_search.gif');
    background-repeat: no-repeat;
    height: 15px;
}
/* 树控件的样式 end*/
