/*页面样式*/
body {
	margin-left:0;
	margin-top: 0;	
    font-family:"Arial","Times New Roman";
	font-size:12px;
	background:#ffffff;
}

table
{
	
}

.text {
	font-size: 12px;
	color: #333;
	text-decoration: none;
	font-family: "宋体";
	font-weight: normal;
}

.leftLink
{
}

/*"新增"表头样式*/
.Tab_Header {
	FONT-SIZE: 12px;
	COLOR:#006699;
	FONT-FAMILY: "宋体";
	font-weight:normal;
	background-image:url(file:///H|/&#21520;&#24211;&#26364;&#26031;&#22374;&#32593;&#31449;/&#22303;&#24211;&#26364;&#32593;&#31449;_hu/images/head_bg.gif);
	background-repeat: repeat;
	/*background-color:#70BAFE;*/
	background-position: left top;
	/*border: #718da6 1px solid;*/
	vertical-align: middle;
	padding-top:2px;
	width:100%;
	text-align:left;}
p{line-height:28px}
/*奇数行/列样式*/
.odd {
	FONT-SIZE: 12px;
	FONT-FAMILY:"宋体";
	text-align: center;
	BACKGROUND-COLOR: #eff4f9;

}
/*偶数行/列样式*/
.even{
	FONT-SIZE: 12px;
	FONT-FAMILY: "宋体";
	text-align: center;
	background-color: #FFFFFF;
}



.bt_info {
	FONT-SIZE: 12px;
	COLOR: #296184;
	FONT-FAMILY:"宋体";
	font-weight:normal;
	text-align: center;
	vertical-align: middle;
	background-image: url(file:///H|/&#21520;&#24211;&#26364;&#26031;&#22374;&#32593;&#31449;/&#22303;&#24211;&#26364;&#32593;&#31449;_hu/images/bg00.gif);
	background-repeat: repeat-x;
	background-position: left top;
	height:20px;
	BORDER-TOP: #89c6ef 1px solid;
	BORDER-LEFT: #89c6ef 1px solid;
	line-height: 20px;

}

.tab_info {
	FONT-SIZE: 12px;
	height:20px;
	BORDER-TOP: #89c6ef 1px solid;
	BORDER-LEFT: #89c6ef 1px solid;
	line-height: 20px;
	width:100%;
	margin-top:2px;	

}
.tab_info TD {
	FONT-SIZE: 12px;
	height:20px;
	BORDER-BOTTOM: #89c6ef 1px solid;
	BORDER-RIGHT: #89c6ef 1px solid;
	line-height: 20px;

}
#div_rev
{
}
/*查询结果表内容过多时的样式*/
.ltab_info {
	FONT-SIZE: 12px;
	height:20px;
	BORDER-TOP: #89c6ef 1px solid;
	BORDER-LEFT: #89c6ef 1px solid;
	line-height: 20px;
	width:120%;
	
}
.ltab_info TD {
	FONT-SIZE: 12px;
	height:20px;
	BORDER-BOTTOM: #89c6ef 1px solid;
	BORDER-RIGHT: #89c6ef 1px solid;
	line-height: 20px;

}


/*增删改等按钮所在表格样式*/
.Tab_new_mod_del {
	FONT-SIZE: 12px;
	COLOR: #666666;
	FONT-FAMILY: "宋体";
	font-weight:normal;
	background-repeat: repeat;
	background-position: left top;
	border: #c3ddee 1px solid;
	vertical-align: middle;
	width:100%;
	line-height: 20px;
	margin-bottom: 1px;
	padding-left: 20px;
	}

/*查询表格样式*/
.form_info {
	FONT-SIZE: 12px;
	height:20px;
	BORDER-TOP: #89c6ef 1px solid;
	BORDER-LEFT: #89c6ef 1px solid;
	line-height: 18px;
	vertical-align: middle;
	height:20px;
	background-color: #EFF4F9;	
	width: 100%;

}
.form_info TD {
	FONT-SIZE: 12px;
	height:20px;
	BORDER-BOTTOM: #89c6ef 1px solid;
	BORDER-RIGHT: #89c6ef 1px solid;
	line-height: 18px;
	vertical-align: middle;
	height:20px;
	
}

/*SELECT项样式*/
SELECT {
	FONT-SIZE: 12px;
	FONT-FAMILY: "宋体";
	line-height: 20px;
	margin-bottom:1px;
	margin-top:1px;
	border:0;
	color: #333333;
}

/*多选SELECT项样式*/
.mulselect {
	FONT-SIZE: 12px;
	FONT-FAMILY: "宋体";
	line-height: 20px;
	margin-bottom:1px;
	margin-top:1px;
	height:50px;
	border:0;
	color: #333333;
	width:82%;
}
/*不限制高度多选SELECT项样式*/
.mulselect1 {
	FONT-SIZE: 12px;
	FONT-FAMILY: "宋体";
	line-height: 20px;
	margin-bottom:1px;
	margin-top:1px;
	border:0;
	color: #333333;
	width:82%;
}
/*INPUT项样式*/
INPUT {
	FONT-SIZE: 12px;
	COLOR: #333333;
	FONT-FAMILY: "宋体";
	line-height: 12px;

}
INPUT.readonly {
	FONT-SIZE: 12px;
	COLOR: #333333;
	FONT-FAMILY: "宋体";
	line-height: 12px;
	background:#f2f2f2;
	border:1px #336699 solid;
	width:80%;
	readonly:expression(this.readOnly=true);
}

INPUT.readonly1 {

	readonly:expression(this.readOnly=true);
}
.radiobtn{
width:40px;}

/*TEXTAREA项样式*/
TEXTAREA {
	FONT-SIZE: 12px;
	COLOR: #333333;
	FONT-FAMILY:"宋体";
	BACKGROUND-COLOR: #fafafa;
	line-height: 20px;
	border: 1px solid #52a5c4;
	height: 80px;
	width: 99%;
	word-break:break-all;
	}

/*分页表格样式*/
.fy
{	background-color:#F2F2F2;
	font-family: "宋体";
	font-size: 12px;
	color: #333333;
	border:#CCCCCC dashed 1px;
	margin-top: 2px;
	font-family:"宋体";
	margin-bottom: 2px;
	vertical-align: middle;
	padding-top: 3px;
	width:100%;

}

/*缺省连接风格*/
A {
	COLOR: #000000; TEXT-DECORATION: underline; font-family: "宋体"; font-size: 12px; line-height: 20px;
}
A:link {
	COLOR: #000000; TEXT-DECORATION: underline; font-family: "宋体"; font-size: 12px; line-height: 20px;
}
A:visited {
	COLOR: #000000; TEXT-DECORATION: underline; font-family: "宋体"; font-size: 12px; line-height: 20px;
}
A:hover {
	COLOR: #009900; TEXT-DECORATION: underline; font-family: "宋体"; font-size: 12px; line-height: 20px;
}
A:active {
	COLOR: #000000; TEXT-DECORATION: underline; font-family: "宋体"; font-size: 12px; line-height: 20px;
}
	
/*查询结果内部链接*/
.tabinner:link {
	COLOR: #FFA100; TEXT-DECORATION: none; font-family:"宋体";; font-size: 12px; line-height: 20px;
}
.tabinner:link{
	COLOR: #FFA100; TEXT-DECORATION: none; font-family:"宋体";; font-size: 12px; line-height: 20px;
}
.tabinner:link {
	COLOR: #0099cc; TEXT-DECORATION: none; font-family:"宋体";; font-size: 12px; line-height: 20px;
}
.tabinner:link {
	COLOR: #FFA100; TEXT-DECORATION: none; font-family:"宋体";; font-size: 12px; line-height: 20px;
}	
/*文档审批链接*/
.a9:link {
	COLOR: #FFA100; TEXT-DECORATION: none; font-family: "宋体"; font-size: 12px; line-height: 20px;
}
.a9:visited {
	COLOR: #FFA100; TEXT-DECORATION: none; font-family: "宋体"; font-size: 12px; line-height: 20px;
}
.a9:hover {
	COLOR: #000000; TEXT-DECORATION: none; font-family: "宋体"; font-size: 12px; line-height: 20px;
}
.a9:active {
	COLOR: #FFA100; TEXT-DECORATION: none; font-family: "宋体"; font-size: 12px; line-height: 20px;
}

/*背景样式*/
.bg {
	FONT-SIZE: 12px;
	COLOR: #FFFFFF;
	FONT-FAMILY:"宋体";
	font-weight:normal;
	text-align: center;
	vertical-align: middle;
	background-image: url(file:///H|/&#21520;&#24211;&#26364;&#26031;&#22374;&#32593;&#31449;/&#22303;&#24211;&#26364;&#32593;&#31449;_hu/images/ar1.gif);
	background-repeat: repeat-x;
	background-position: left top;
	height:20px;
	line-height: 20px;
}

 .iButton2 {
 	BORDER-RIGHT: #3399FF 1px solid;
	BORDER-TOP: #3399ff 1px solid;
	BORDER-LEFT: #3399ff 1px solid;
	BORDER-BOTTOM: #3399ff 1px solid;
	FONT-SIZE: 12px;
	FILTER:  progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#89c6ef, EndColorStr=#347699); 				
	CURSOR:  hand;
	COLOR: #3366CC;	
	padding-top: 2px;
	padding-left: 2px;
	padding-right: 2px;
	height:20px;
	width:65px;
} 
/*统计内secelt*/
.select_compile{
	width:160px;
	height:120px;
}
/*表中表*/
.tab_info_in {
	FONT-SIZE: 12px;
	height:20px;
	BORDER-TOP: #a0c1f7 1px solid;
	BORDER-LEFT: #a0c1f7 1px solid;
	line-height: 20px;
	width:100%;
	margin:2px;	
}
.tab_info_in TD {
	FONT-SIZE: 12px;
	height:20px;
	BORDER-BOTTOM: #699cf3 1px solid;
	BORDER-RIGHT: #699cf3 1px solid;
	line-height: 20px;

}
/*表中表头*/
.tab_info_in_title
{	background-image: url(file:///H|/&#21520;&#24211;&#26364;&#26031;&#22374;&#32593;&#31449;/&#22303;&#24211;&#26364;&#32593;&#31449;_hu/images/bg01.gif);
	background-repeat: repeat-x;
	background-position: left top;
	color:#5685d8;
}
/*解决form边框过大*/
.formstyle{margin:0
}
form{margin:0}
/*出错页面字体*/
.text11 {
	font-size: 12px;
	color: #333;
	text-decoration: none;
	font-family: "宋体";
	font-weight:bold;
	letter-spacing:2px;
}
.text12 {
	font-size: 12px;
	color: #333;
	text-decoration: none;
	font-family: "宋体";
	font-weight: normal;
	letter-spacing:2px;
}

/*TEXTAREA项样式*/
.TEXTAREA1 {
	FONT-SIZE: 12px;
	COLOR: #333333;
	FONT-FAMILY: "宋体";
	BACKGROUND-COLOR: #F5F5F8;
	line-height: 20px;
	border: 1px dashed #69CDF2;
	height: 180px;
	width: 99%;
	word-break:break-all;
}


/*日期字体*/
.datatext{
	font-size: 12px;
	color: #fff;
	text-decoration: none;
	font-family: "宋体";
	font-weight: normal;
}
/*栏目表头字体*/
.columntext{
	font-size: 12px;
	color:#fff;
	text-decoration: none;
	font-family: "宋体";
	font-weight: bold;
		
}
/*注册/登录字体*/
.dltext{
	font-size: 12px;
	color: #006699;
	text-decoration: none;
	font-family: "宋体";
	font-weight: normal;
}


/*---------------------登录页面--------------------*/
.logintext{
	font-family:"宋体";
	font-size:12px;
	font-weight:bold;
	color:#FFFFFF;
}




/*-----------------8月24日局级新页面-----------------*/

.chkbox{
	border:1px #999999 solid;
	width:110px;
	color:#666666;
	vertical-align:middle;
	font:"宋体";
	font-weight: normal;
	font-size:12px;

}

.chkboxyou{
	border:1px #999999 solid;
	width:105px;
	color:#666666;
	vertical-align:middle;
	font:"宋体";
	font-weight: normal;
	font-size:12px;

}
.tztext{	
	
	color:#006699;
	font:"宋体";
	font-weight: bold;
	font-size:12px;

}
.newtext{
	font:"宋体";
	font-size:12px;
	color:#006699;
}
.A7:link {
	COLOR: #006699; TEXT-DECORATION: none; font-family: "宋体"; font-size: 12px; line-height: 20px;
}
.A7:visited {
	COLOR: #006699; TEXT-DECORATION: none; font-family: "宋体"; font-size: 12px; line-height: 20px;
}
.A7:hover {
	COLOR: #000000; TEXT-DECORATION: none; font-family: "宋体"; font-size: 12px; line-height: 20px;
}
.A7:active {
	COLOR: #006699; TEXT-DECORATION: none; font-family: "宋体"; font-size: 12px; line-height: 20px;
}


.showlisttext{
	color:#ff0000;
}

/*ectable上信息提示字体*/
.infostext{
	color:#e93a3a;
	font:"宋体";
	font-weight: normal;
	font-size:12px;
}
/*10.14局首页导航文字连接*/
.A8:link {
	COLOR: #ffffff; TEXT-DECORATION: none; font-family: "宋体"; font-size: 12px; line-height: 20px;
}
.A8:visited {
	COLOR: #ffffff; TEXT-DECORATION: none; font-family: "宋体"; font-size: 12px; line-height: 20px;
}
.A8:hover {
	COLOR: #FFA100; TEXT-DECORATION: none; font-family: "宋体"; font-size: 12px; line-height: 20px;
}
.A8:active {
	COLOR: #ffffff; TEXT-DECORATION: none; font-family: "宋体"; font-size: 12px; line-height: 20px;
}
/*10.24局首页突发事件文字连接*/
.A11:link {
	COLOR: #006699; TEXT-DECORATION: none; font-family: "宋体"; font-size: 12px; line-height: 20px;
}
.A11:visited {
	COLOR: #006699; TEXT-DECORATION: none; font-family: "宋体"; font-size: 12px; line-height: 20px;
}
.A11:hover {
	COLOR: #5acfe0; TEXT-DECORATION: none; font-family: "宋体"; font-size: 12px; line-height: 20px;
}
.A11:active {
	COLOR: #006699; TEXT-DECORATION: none; font-family: "宋体"; font-size: 12px; line-height: 20px;
}
/*10.19局首页待办事宜文字连接*/
.A12:link {
	COLOR: #ff0000; TEXT-DECORATION: none; font-family: "宋体"; font-size: 12px; line-height: 20px;
}
.A12:visited {
	COLOR: #ff0000; TEXT-DECORATION: none; font-family: "宋体"; font-size: 12px; line-height: 20px;
}
.A12:hover {
	COLOR: #5acfe0; TEXT-DECORATION: none; font-family: "宋体"; font-size: 12px; line-height: 20px;
}
.A12:active {
	COLOR: #ff0000; TEXT-DECORATION: none; font-family: "宋体"; font-size: 12px; line-height: 20px;
}
/*版权*/
.ctext{
	font-size: 14px;
	color: #ffffff;
	text-decoration: none;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: normal;
}
/*10.14局版权英文*/
.A10:link {
	COLOR: #ffffff; TEXT-DECORATION: none; font-family:Arial, Helvetica, sans-serif; font-size: 11px; line-height: 20px;
}
.A10:visited {
	COLOR: #ffffff; TEXT-DECORATION: none; font-family:Arial, Helvetica, sans-serif; font-size: 11px; line-height: 20px;
}
.A10:hover {
	COLOR: #5acfe0; TEXT-DECORATION: none; font-family: Arial, Helvetica, sans-serif; font-size: 11px; line-height: 20px;
}
.A10:active {
	COLOR: #ffffff; TEXT-DECORATION: none; font-family:Arial, Helvetica, sans-serif; font-size: 11px; line-height: 20px;
}

/*10.22数据表格的样式*/
.datatab_info {
	FONT-SIZE: 12px;
	height:20px;
	BORDER-TOP: #53bbe0 1px solid;
	BORDER-LEFT: #53bbe0 1px solid;
	line-height: 20px;
	margin-top:2px;	

}
.datatab_info TD {
	FONT-SIZE: 12px;
	height:20px;
	BORDER-BOTTOM: #53bbe0 1px solid;
	BORDER-RIGHT: #53bbe0 1px solid;
	line-height: 20px;

}
/*-----------------11.17局首页--------------*/
/*欢迎信息文字*/
.wel_ntext{
	font:"宋体";
	font-size:12px;
	color:#333333;
	text-decoration: none;
}
.A15:link {
	COLOR: #333333; TEXT-DECORATION: none; font-family:"宋体"; font-size: 12px; line-height: 20px;
}
.A15:visited {
	COLOR: #333333; TEXT-DECORATION: none; font-family:"宋体"; font-size: 12px; line-height: 20px;
}
.A15:hover {
	COLOR: #5acfe0; TEXT-DECORATION: none; font-family: "宋体"; font-size: 12px; line-height: 20px;
}
.A15:active {
	COLOR: #333333; TEXT-DECORATION: none; font-family:"宋体"; font-size: 12px; line-height: 20px;
}
/*待办事宜*/
.db_ntext{
	font:"宋体";
	font-size:12px;
	color:#333333;
	text-decoration: none;
}
/*重点井三色文字*/
.zdj_rtext{
	font:"宋体";
	font-size:12px;
	color:#ff0000;
	text-decoration: none;
}
.zdj_rtext a:link{font:"宋体";
	font-size:12px;
	color:#ff0000;
	text-decoration: none;
}
.zdj_rtext a:visited{font:"宋体";
	font-size:12px;
	color:#ff0000;
	text-decoration: none;
}
.zdj_rtext a:hover{font:"宋体";
	font-size:12px;
	color:#ff0000;
	text-decoration:underline;
}
.zdj_rtext a:active{font:"宋体";
	font-size:12px;
	color:#ff0000;
	text-decoration: none;
}

.zdj_otext{
	font:"宋体";
	font-size:12px;
	color:#ff924a;
	text-decoration: none;
}
.zdj_otext a:link{font:"宋体";
	font-size:12px;
	color:#ff924a;
	text-decoration: none;
}
.zdj_otext a:visited{font:"宋体";
	font-size:12px;
	color:#ff924a;
	text-decoration: none;
}
.zdj_otext a:hover{font:"宋体";
	font-size:12px;
	color:#ff924a;
	text-decoration:underline;
}
.zdj_otext a:active{font:"宋体";
	font-size:12px;
	color:#ff924a;
	text-decoration: none;
}

.zdj_gtext{
	font:"宋体";
	font-size:12px;
	color:#369a37;
	text-decoration: none;
}
.zdj_gtext a:link{font:"宋体";
	font-size:12px;
	color:#369a37;
	text-decoration: none;
}
.zdj_gtext a:visited{font:"宋体";
	font-size:12px;
	color:#369a37;
	text-decoration: none;
}
.zdj_gtext a:hover{font:"宋体";
	font-size:12px;
	color:#369a37;
	text-decoration:underline;
}
.zdj_gtext a:active{font:"宋体";
	font-size:12px;
	color:#369a37;
	text-decoration: none;
}

/*生产调度*/
.scdd_btext{
	font:"宋体";
	font-size:12px;
	font-weight:bold;
	color:#016599;
	text-decoration: none;
}
/*局级黑色字体*/
.ju_btext{
	font-size: 12px;
	color: #333;
	text-decoration: none;
	font-family: "宋体";
	font-weight:bold;
}
.ju_btext a:link{font:"宋体";
	font-size:12px;
	color:#333;
	text-decoration: none;
}
.ju_btext a:visited{font:"宋体";
	font-size:12px;
	color:#333;
	text-decoration: none;
}
.ju_btext a:hover{font:"宋体";
	font-size:12px;
	color:#333;
	text-decoration:none;
	background:#66CCFF;
}
.ju_btext a:active{font:"宋体";
	font-size:12px;
	color:#333;
	text-decoration: none;
}
.MenuDiv
{
	float:left; 
	margin-left:10px		
}
.MenuDiv font
{
	color:#00FFFF;
	display:block;
	float:left;
}
.MenuDiv a
{
	font-size: 12px;
	color: #ffffff;
	display:block;
	margin-left:5px;
	float:left;
}
.MenuDiv a.daohang:link {
	font-family: "宋体";
	font-size: 12px;
	color: #ffffff;
	text-decoration: none;
	letter-spacing: 1px;
        
}
.MenuDiv a.daohang:visited {
	font-family: "宋体";
	font-size: 12px;
	color: #ffffff;
	text-decoration: none;
	letter-spacing: 1px;
       
}
.MenuDiv a.daohang:hover {
	font-family: "宋体";
	font-size: 12px;
	color:#ffff00;
	text-decoration: none;
	letter-spacing: 1px;
        

}
.pic {
    float: left;
    border: 1px solid #cccccc;
    margin-top: 10px;
    margin-bottom:2px;
    margin-left:2px;
    margin-right:20px;
}

a:link
{
	font-family:宋体;
	font-size:12px;
	color:#000000;
	text-decoration:none;
}
a:visited
{
	font-family:宋体;
	font-size:12px;
	color:#000000;
	text-decoration:none;
}
a:hover {
	font-family: "宋体";
	font-size: 12px;
	color:Blue;
	text-decoration: underline;
}
.pic {
    float: left;
    border: 1px solid #cccccc;
    margin-top: 10px;
    margin-bottom:2px;
    margin-left:2px;
    margin-right:20px;
}
