html,body{}

body {
	margin-top: 0px;
	margin-bottom: 0px;

	
	background-repeat: repeat-y;
	background-position: center;
	background-color: #E4E8F1;
}

/*jrgz CSS*/
a.jrgz_default:link {
	font-family: "宋体";
	font-size: 14px;
	color: #383838;
	text-decoration: none;
	letter-spacing: 1px;
}
a.jrgz_default:visited {
	font-family: "宋体";
	font-size: 14px;
	color: #383838;
	text-decoration: none;
	letter-spacing: 1px;
}
a.jrgz_default:hover {
	font-family: "宋体";
	font-size: 14px;
	color: #ff3300;
	text-decoration: none;
	letter-spacing: 1px;
}
a.jrgz_default_bold:link {
	font-family: "宋体";
	font-size: 14px;
	color: #383838;
	text-decoration: none;
	letter-spacing: 1px;
	font-weight: bold;
}
a.jrgz_default_bold:visited {
	font-family: "宋体";
	font-size: 14px;
	color: #383838;
	text-decoration: none;
	letter-spacing: 1px;
	font-weight: bold;
}
a.jrgz_default_bold:hover {
	font-family: "宋体";
	font-size: 14px;
	color: #ff3300;
	text-decoration: none;
	letter-spacing: 1px;
	font-weight: bold;
}
a.jrgz_black:link {
	font-family: "宋体";
	font-size: 14px;
	color: #000000;
	text-decoration: none;
	letter-spacing: 1px;
}
a.jrgz_black:visited {
	font-family: "宋体";
	font-size: 14px;
	color: #000000;
	text-decoration: none;
	letter-spacing: 1px;
}
a.jrgz_black:hover {
	font-family: "宋体";
	font-size: 14px;
	color: #ff3300;
	text-decoration: none;
	letter-spacing: 1px;
}
a.jrgz_black_bold:link {
	font-family: "宋体";
	font-size: 14px;
	color: #000000;
	text-decoration: none;
	letter-spacing: 1px;
	font-weight: bold;
}
a.jrgz_black_bold:visited {
	font-family: "宋体";
	font-size: 14px;
	color: #000000;
	text-decoration: none;
	letter-spacing: 1px;
	font-weight: bold;
}
a.jrgz_black_bold:hover {
	font-family: "宋体";
	font-size: 14px;
	color: #ff3300;
	text-decoration: none;
	letter-spacing: 1px;
	font-weight: bold;
}

a.jrgz_red:link {
	font-family: "宋体";
	font-size: 14px;
	color: #cc1301;
	text-decoration: none;
	letter-spacing: 1px;
}
a.jrgz_red:visited {
	font-family: "宋体";
	font-size: 14px;
	color: #cc1301;
	text-decoration: none;
	letter-spacing: 1px;
}
a.jrgz_red:hover {
	font-family: "宋体";
	font-size: 14px;
	color: #000000;
	text-decoration: none;
	letter-spacing: 1px;
}
a.jrgz_red_bold:link {
	font-family: "宋体";
	font-size: 14px;
	color: #cc1301;
	text-decoration: none;
	letter-spacing: 1px;
	font-weight: bold;
}
a.jrgz_red_bold:visited {
	font-family: "宋体";
	font-size: 14px;
	color: #cc1301;
	text-decoration: none;
	letter-spacing: 1px;
	font-weight: bold;
}
a.jrgz_red_bold:hover {
	font-family: "宋体";
	font-size: 14px;
	color: #000000;
	text-decoration: none;
	letter-spacing: 1px;
	font-weight: bold;
}


a.jrgz_blue:link {
	font-family: "宋体";
	font-size: 14px;
	color: #0153a7;
	text-decoration: none;
	font-weight: normal;
	letter-spacing: 1px;
}
a.jrgz_blue:visited {
	font-family: "宋体";
	font-size: 14px;
	color: #0153a7;
	text-decoration: none;
	font-weight: normal;
	letter-spacing: 1px;
}
a.jrgz_blue:hover {
	font-family: "宋体";
	font-size: 14px;
	color: #0153a7;
	text-decoration: none;
	font-weight: normal;
	letter-spacing: 1px;
}
a.jrgz_blue_bold:link {
	font-family: "宋体";
	font-size: 14px;
	color: #0153a7;
	text-decoration: none;
	letter-spacing: 1px;
	font-weight: bold;
}
a.jrgz_blue_bold:visited {
	font-family: "宋体";
	font-size: 14px;
	color: #0153a7;
	text-decoration: none;
	letter-spacing: 1px;
	font-weight: bold;
}
a.jrgz_blue_bold:hover {
	font-family: "宋体";
	font-size: 14px;
	color: #0153a7;
	text-decoration: none;
	letter-spacing: 1px;
	font-weight: bold;
}


.te1{
	font-family: "宋体";
	font-size: 12px;
	line-height: 18px;
	color: #6d6d6d;
	text-decoration: none;
	font-weight: lighter;
	
}
a.te1:link {
	font-family: "宋体";
	font-size: 12px;
	line-height: 18px;
	color: #6d6d6d;
	text-decoration: none;
	font-weight: lighter;
	
}
a.te1:visited {
	font-family: "宋体";
	font-size: 12px;
	line-height: 18px;
	font-weight: lighter;
	color: #6d6d6d;
	text-decoration: none;
}
a.te1:hover {
	font-family: "宋体";
	font-size: 12px;
	line-height: 18px;
	font-weight: lighter;
	color: #6d6d6d;
	text-decoration: none;
}
a.te123:link {
	font-family: "宋体";
	font-size: 12px;
	line-height: 18px;
	color: #982f00;
	text-decoration: none;
	font-weight: lighter;
	
}
a.te123:visited {
	font-family: "宋体";
	font-size: 12px;
	line-height: 18px;
	font-weight: lighter;
	color: #982f00;
	text-decoration: none;
}
a.te123:hover {
	font-family: "宋体";
	font-size: 12px;
	line-height: 18px;
	font-weight: lighter;
	color: #ff9900;
	text-decoration: none;
}
a.te12:link {
	font-family: "宋体";
	font-size: 12px;
	line-height: 18px;
	color: #6d6d6d;
	text-decoration: none;
	font-weight: lighter;
	letter-spacing:2px;
	
}
a.te12:visited {
	font-family: "宋体";
	font-size: 12px;
	line-height: 18px;
	font-weight: lighter;
	color: #6d6d6d;
	text-decoration: none;
	letter-spacing:2px;
}
a.te12:hover {
	font-family: "宋体";
	font-size: 12px;
	line-height: 18px;
	font-weight: lighter;
	color: #6d6d6d;
	text-decoration: none;
	letter-spacing:2px;
}
a.tett:link {
	font-family: "宋体";
	font-size: 12px;
	line-height: 18px;
	color: #6d6d6d;
	text-decoration: none;
	font-weight: lighter;
	letter-spacing:-1px;
}
a.tett:visited {
	font-family: "宋体";
	font-size: 12px;
	line-height: 18px;
	font-weight: lighter;
	color: #6d6d6d;
	text-decoration: none;
	letter-spacing:-1px;
}
a.tett:hover {
	font-family: "宋体";
	font-size: 12px;
	line-height: 18px;
	font-weight: lighter;
	color: #CC9933;
	text-decoration: none;
	letter-spacing:-1px;
}
a.tete:link {
	font-family: "宋体";
	font-size: 12px;
	line-height: 18px;
	color: #6d6d6d;
	text-decoration: none;
	font-weight: lighter;
	letter-spacing:-2px;
}
a.tete:visited {
	font-family: "宋体";
	font-size: 12px;
	line-height: 18px;
	font-weight: lighter;
	color: #6d6d6d;
	text-decoration: none;
	letter-spacing:-2px;

}
a.tete:hover {
	font-family: "宋体";
	font-size: 12px;
	line-height: 18px;
	font-weight: lighter;
	color: #CC9933;
	text-decoration: none;
	letter-spacing:-2px;

}


a.te2:link {
	font-family: "宋体";
	font-size: 12px;
	line-height: 18px;
	color: #505050;
	text-decoration: none;
	font-weight: lighter;
}
a.te2:visited {
	font-family: "宋体";
	font-size: 12px;
	line-height: 18px;
	font-weight: lighter;
	color: #505050;
	text-decoration: none;
}
a.te2:hover {
	font-family: "宋体";
	font-size: 12px;
	line-height: 18px;
	font-weight: lighter;
	color: #FF9900;
	text-decoration: none;
}
a.te3:link {
	font-family: "宋体";
	font-size: 12px;
	line-height: 18px;
	color: #982f00;
	text-decoration: none;
	font-weight: lighter;
}
a.te3:visited {
	font-family: "宋体";
	font-size: 12px;
	line-height: 18px;
	font-weight: lighter;
	color: #982f00;
	text-decoration: none;
}
a.te3:hover {
	font-family: "宋体";
	font-size: 12px;
	line-height: 18px;
	font-weight: lighter;
	color: #FF9900;
	text-decoration: none;
}
a.te5:link {
	font-family: "宋体";
	font-size: 14px;
	line-height: 24px;
	color: #000000;
	text-decoration: none;
	font-weight: lighter;
}
a.te5:visited {
	font-family: "宋体";
	font-size: 14px;
	line-height: 24px;
	font-weight: lighter;
	color: #000000;
	text-decoration: none;
}
a.te5:hover {
	font-family: "宋体";
	font-size: 14px;
	line-height: 24px;
	font-weight: lighter;
	color: #999966;
	text-decoration: none;
}
a.te7:link {
	font-family: "宋体";
	font-size: 14px;
	line-height: 24px;
	color: #383838;
	text-decoration: none;
	font-weight: lighter;
}
a.te7:visited {
	font-family: "宋体";
	font-size: 14px;
	line-height: 24px;
	font-weight: lighter;
	color: #383838;
	text-decoration: none;
}
a.te7:hover {
	font-family: "宋体";
	font-size: 14px;
	line-height: 24px;
	font-weight: lighter;
	color: #999999;
	text-decoration: none;
}
a.te9:link {
	font-family: "宋体";
	font-size: 12px;
	line-height: 20px;
	color: #383838;
	text-decoration: none;
	font-weight: lighter;
}
a.te9:visited {
	font-family: "宋体";
	font-size: 12px;
	line-height: 20px;
	font-weight: lighter;
	color: #383838;
	text-decoration: none;
}
a.te9:hover {
	font-family: "宋体";
	font-size: 12px;
	line-height: 20px;
	font-weight: lighter;
	color: #ff3300;
	text-decoration: none;
}
.tb {
	border-top: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
}
.tbb {
	border-right: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
}
.tb123 {
	border-right: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
}
.te4 {
	font-family: "宋体";
	font-size: 12px;
	line-height: 18px;
	font-weight: bold;
	color: #c58265;
}

a.te4:link {
	font-family: "宋体";
	font-size: 12px;
	line-height: 18px;
	font-weight: bold;
	color: #c58265;
}
a.te4:visited {
	font-family: "宋体";
	font-size: 12px;
	line-height: 18px;
	font-weight: bold;
	color: #c58265;
}
a.te4:hover {
	font-family: "宋体";
	font-size: 12px;
	line-height: 18px;
	font-weight: bold;
	color: #c58265;
}
.tb2 {
	border-top-width: 1px;
	border-top-style: dotted;
	border-top-color: #982f02;
	border-right-color: #982f02;
	border-bottom-color: #982f02;
	border-left-color: #982f02;
}
.tb3 {
	border-top: 1px solid #cccccc;
}
.tb4 {
	border: 1px solid #fec84d;
}
.te6 {
	font-family: "宋体";
	font-size: 12px;
	line-height: 18px;
	font-weight: bold;
	color: #6d6d6d;
}
.tb5 {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #cccccc;
}
.tb6 {
	border-left: 1px solid #fec84d;
}
.tb7 {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #fec84d;
}
.te8 {
	font-family: "宋体";
	font-size: 12px;
	font-weight: lighter;
	color: #6d6d6d;
}
.te10 {
	font-family: "宋体";
	font-size: 12px;
	color: #797979;
	line-height: 160%;
	font-weight: bold;
}
a.te10:link {font-family: "宋体";
	font-size: 12px;
	color: #797979;
	line-height: 160%;
	font-weight: bold;
}
.White1 {font-size: 13px;color: #fff;text-decoration: none;font-weight: bold;letter-spacing: 2px;}
a.White1:link { color: #fff; text-decoration:none;letter-spacing: 2px;}
a.White1:visited {	color: #fff;	 text-decoration: none;letter-spacing: 2px;}
a.White1:hover {color:#ffff00;	 text-decoration: none;letter-spacing: 2px;}
.White12 {font-size: 12px;color: #fff;text-decoration: none;}
a.White12:link { color: #fff; text-decoration:none;}
a.White12:visited {	color: #fff;	 text-decoration: none;}
a.White12:hover {color:#fff;	 text-decoration: underline;}

.headtext{
	font-family: "宋体";
	font-size: 12px;
	color: #982E00;
	text-decoration: none;
	
	letter-spacing: 1px;
}
a.headtext:link{
	font-family: "宋体";
	font-size: 12px;
	color: #982E00;
	text-decoration: none;
}

a.headtext:visited{
	font-family: "宋体";
	font-size: 12px;
	color: #982E00;
	text-decoration: none;
}
a.headtext:hover{
	font-family: "宋体";
	font-size: 12px;
	color: #FF9900;
	text-decoration: none;
}

.headtext1{
	font-family: "宋体";
	font-size: 12px;
	color: #982E00;
	text-decoration: none;
	
	letter-spacing: 1px;
}
a.headtext1:link{
	font-family: "宋体";
	font-size: 12px;
	color: #982E00;
	text-decoration: none;
}

a.headtext1:visited{
	font-family: "宋体";
	font-size: 12px;
	color: #982E00;
	text-decoration: none;
}
a.headtext1:hover{
	font-family: "宋体";
	font-size: 12px;
	color: #FF9900;
	text-decoration: none;
}
.ZoneSpacinghorizontal
{
 display:none
}

.ms-PartSpacingVertical
{
 display:none
}
.ms-toolbar
{
background-color:white;

}

#webpartpagenavbar
{
 display:none;
}

.ms-phnav1wrapper
{
	display:none;
}

.ms-titleareaframe
{
	display:none;
}
.spssmartpageseparator
{
	display:none;
}
.floaterSettingsAuthTD
{
	display:none;
}
/*forms*/
.selectArea {
	width:80px;
	height:19px;
	background:#ffffff;
	padding: 1px;
	border: 1px solid #666666;
	font-family: "宋体";
	font-size: 12px;
	color: #666666;

}
.selectArea2 {
	width:85px;
	height:19px;
	background:#ffffff;
	padding: 1px;
	border: 1px solid #666666;
	font-family: "宋体";
	font-size: 12px;
	color: #666666;

}
.textinfo{
	width:60px;
	height:19px;
	background:#ffffff;
	border:1px solid #666666;
	font-family:"宋体";
	font-size:12px;
	color:#666666;
	text-indent: 2px;
}
.selectlianjie1 {
	width:164px;
	height:14px;
	background:#ffffff;
	padding: 1px;
	border: 1px solid #6f6f6f;
	font-family: "宋体";
	font-size: 12px;
	color: #666666;
}
.selectlianjie2 {
	width:120px;
	height:14px;
	background:#ffffff;
	padding: 1px;
	border: 1px solid #6f6f6f;
	font-family: "宋体";
	font-size: 12px;
	color: #666666;
}
.selectlianjie3 {
	width:113px;
	height:14px;
	background:#ffffff;
	padding: 1px;
	border: 1px solid #6f6f6f;
	font-family: "宋体";
	font-size: 12px;
	color: #666666;
}
.selectlianjie4 {
	width:115px;
	height:14px;
	background:#ffffff;
	padding: 1px;
	border: 1px solid #6f6f6f;
	font-family: "宋体";
	font-size: 12px;
	color: #666666;
}
.selectlianjie5 {
	width:140px;
	height:14px;
	background:#ffffff;
	padding: 1px;
	border: 1px solid #6f6f6f;
	font-family: "宋体";
	font-size: 12px;
	color: #666666;
}
.selectlianjie6 {
	width:180px;
	height:14px;
	background:#ffffff;
	padding: 1px;
	border: 1px solid #6f6f6f;
	font-family: "宋体";
	font-size: 12px;
	color: #666666;
}
.tb8 {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #999999;
}
.ph_hui {
	    font-family: "宋体";
	    font-size: 12px;
	    color: #6D6D6D;
	    text-decoration: none;
    }
a.ph_hui:link {
	    font-family: "宋体";
	    font-size: 12px;
	    color: #6D6D6D;
	    text-decoration: none;
    }
a.ph_hui:visited {
	    font-family: "宋体";
	    font-size: 12px;
	    color: #6D6D6D;
	    text-decoration: none;
    }
a.ph_hui:hover {
	    font-family: "宋体";
	    font-size: 12px;
	    color: #ff0000;
	    text-decoration: none;
    }
.tb4new {
	border: 1px solid #fec84d;
}
.tb4new1 {
	border-top: 1px solid #fec84d;
	border-right: 1px solid #fec84d;
	border-left: 1px solid #fec84d;
}
.tb9new {
	border-top: 1px solid #fec84d;
	border-right: 1px solid #fec84d;
	border-bottom: 1px solid #fec84d;
}
.tb9new1 {
	border-top: 1px solid #fec84d;
	border-right: 1px solid #fec84d;

}
.Description {
	font-family: "宋体";
	font-size: 15px;
	line-height: 18px;
	color: #6d6d6d;
	text-decoration: none;
	font-weight: lighter;
	text-align:left;

}

.PicImage {
	WIDTH: 1px; HEIGHT: 1px
}
.PicDescription {
	font-family: "宋体";
	font-size: 12px;
	line-height: 18px;
	color: #6d6d6d;
	text-decoration: none;
	font-weight: lighter;

}
td.zsfx{
padding-left:0px;

}

a.zsfx{
	font-family: "宋体";
	font-size: 12px;
	line-height: 18px;
	font-weight: bold;
	color: #6d6d6d;
	text-align: left;
	
}
a.zsfx:link {
   	font-family: "宋体";
	font-size: 12px;
	color: #6d6d6d;
	text-decoration: none;
	font-weight: bold;
	line-height: 20px;
	text-align: left;
		
}
a.zsfx:visited {
   font-family: "宋体";
	font-size: 12px;
	color: #6d6d6d;
	text-decoration: none;
	font-weight: bold;
	line-height: 20px;
	text-align: left;
	
}
a.zsfx:hover {
	font-family: "宋体";
	font-size: 12px;
	color: #ff3300;
	text-decoration: none;
	line-height: 20px;
	font-weight: bold;
text-align: left;

}
.te1015{
	font-family: "宋体";
	font-size: 12px;
	line-height: 18px;
	color: #6d6d6d;
	text-decoration: none;
	font-weight: lighter;
	
}
a.te1015:link {
	font-family: "宋体";
	font-size: 12px;
	line-height: 18px;
	color: #6d6d6d;
	text-decoration: none;
	font-weight: lighter;
	letter-spacing:-1px;
	
}
a.te1015:visited {
	font-family: "宋体";
	font-size: 12px;
	line-height: 18px;
	font-weight: lighter;
	color: #6d6d6d;
	text-decoration: none;
	letter-spacing:-1px;
}
a.te1015:hover {
	font-family: "宋体";
	font-size: 12px;
	line-height: 18px;
	font-weight: lighter;
	color: #cc9933;
	text-decoration: none;
	letter-spacing:-1px;
}
a.te10151:link {
	font-family: "宋体";
	font-size: 12px;
	line-height: 18px;
	color: #6d6d6d;
	text-decoration: none;
	font-weight: lighter;
	letter-spacing:-2px;
	
}
a.te10151:visited {
	font-family: "宋体";
	font-size: 12px;
	line-height: 18px;
	font-weight: lighter;
	color: #6d6d6d;
	text-decoration: none;
	letter-spacing:-2px;
}
a.te10151:hover {
	font-family: "宋体";
	font-size: 12px;
	line-height: 18px;
	font-weight: lighter;
	color: #cc9933;
	text-decoration: none;
	letter-spacing:-2px;
}