a.links:link {
	font-family: "宋体";
	font-size: 12px;
	color: #6d6d6d;
	text-decoration: none;
}
a.links:visited {
	font-family: "宋体";
	font-size: 12px;
	color: #6d6d6d;
	text-decoration: none;
}
a.links:hover {
	font-family: "宋体";
	color: #CC9933;
	text-decoration: none;
}
a.links1:link {
	font-family: "宋体";
	font-size: 12px;
	color: #6d6d6d;
	text-decoration: none;
}
a.links1:visited {
	font-family: "宋体";
	font-size: 12px;
	color: #6d6d6d;
	text-decoration: none;
}
a.links1:hover {
	font-family: "宋体";
	color: #CC9933;
	text-decoration: none;
}

.linkborder1 {
	border: 1px solid #666666;
	background-color:#ffffff;
	filter: alpha(opacity=90);
	
}
.links {
	font-family: "宋体";
	font-size: 12px;
	color: #6d6d6d;
	text-decoration: none;
}

.te10 {
	font-family: "宋体";
	font-size: 12px;
	color: #797979;
	line-height: 160%;
	font-weight: bold;
}
a.te10:link {font-family: "宋体";
	font-size: 12px;
	color: #797979;
	line-height: 160%;
	font-weight: bold;
}


.te1{
	font-family: "宋体";
	font-size: 12px;
	line-height: 18px;
	color: #6d6d6d;
	text-decoration: none;
	font-weight: lighter;
	
}
a.te1:link {
	font-family: "宋体";
	font-size: 12px;
	line-height: 18px;
	color: #6d6d6d;
	text-decoration: none;
	font-weight: lighter;
	
}
a.te1:visited {
	font-family: "宋体";
	font-size: 12px;
	line-height: 18px;
	font-weight: lighter;
	color: #6d6d6d;
	text-decoration: none;
}
a.te1:hover {
	font-family: "宋体";
	font-size: 12px;
	line-height: 18px;
	font-weight: lighter;
	color: #CC9933;
	text-decoration: none;
}

.headtext1{
	font-family: "宋体";
	font-size: 12px;
	color: #6d6d6d;
	text-decoration: none;
	
	letter-spacing: 1px;
}
a.headtext1:link{
	font-family: "宋体";
	font-size: 12px;
	color: #6d6d6d;
	text-decoration: none;
}

a.headtext1:visited{
	font-family: "宋体";
	font-size: 12px;
	color: #6d6d6d;
	text-decoration: none;
}
a.headtext1:hover{
	font-family: "宋体";
	font-size: 12px;
	color: #6d6d6d;
	text-decoration: none;
}