/* ---------------------------------------------
File Name: UCAttachment.css
附件组件样式文件,分类标识符AT
Create By: 崔茂山 by 20101213 
-----------------------------------------------*/

/* ----------  标题区样式  ------------------ */
/* 标题div总样式 */
div.AT-titleArea
{
	 width: 100%;
	 border: solid 0px #425d8c;
	 border-collapse: collapse;
	 font-size: 16px;
	 font-family: arial;
	 font-weight: bold ;
	 color: black;
	 height: 40px;
	 text-align: center;
	 vertical-align: middle;
}

/* 上传按钮div容器样式 */
div.AT-btnArea
{
	 width: 100%;
	 margin-bottom: 10px;
	 padding-bottom: 10px;
}

/* 附件列表Table样式 */
table.AT-attachmentTable
{
	 width: 100%;
	 border: solid 1px #AAAAAA;
	 border-collapse: collapse;
	 line-height:20px;
}

/* 附件列表表头tr样式 */
tr.AT-Header td,table.AT-attachmentTable tr th
{
	font-size: 11px;
	font-family: arial;
	font-weight: normal;
	color: black;
	background-image:url(/App_Themes/Default/Images/Controls/Attachment/global_caption3_bg.gif); 
	height: 23px;
	line-height:15px;
	border-bottom: solid 1px #CCCCCC;
}

/* 附件列表表头FileName,td样式 */
td.AT-Header-FileName
{
	text-align: center;
}

/* 附件列表表头FileSize,td样式 */
td.AT-Header-FileSize
{
	text-align: left;
}

/* 附件列表表头FileDate,td样式 */
td.AT-Header-FileDate
{
	text-align: left;
}

/* 附件列表表头FileUploadStatus,td样式 */
td.AT-Header-FileUploadStatus
{
	text-align: left;
}

/* 附件列表表头FileDelete,td样式 */
td.AT-Header-FileDelete
{
	text-align: left;	
}

/* 附件列表数据tr样式 */
tr.AT-Data
{
	text-align: left;	
}

/* 附件列表数据FileName,td样式 */
td.AT-Data-FileName
{
}

/* 附件列表数据FileName链接,a样式 */
a.AT-Data-FileNameLink
{
}

/* 附件列表数据FileSize,td样式 */
td.AT-Data-FileSize
{
}

/* 附件列表数据FileDate,td样式 */
td.AT-Data-FileDate
{
}

/* 附件列表数据FileUploadStatus,td样式 */
td.AT-Data-FileUploadStatus
{
}

/* 附件列表上传描述,div样式 */
div.AT-Data-FileUploadDescription
{
}

/* 附件列表上传进度条,div样式 */
div.AT-Data-FileUploadProcessBar
{
	float:left;
	width:0%;
	height:10px;
	background-color:Red;
}

/* 附件列表数据FileDelete,td样式 */
td.AT-Data-FileDelete
{
}

/* 附件列表图片按钮,input样式 */
input.AT-Data-BtnDelete
{
}