@charset "utf-8";
/*节庆背景*/
/*主体结构*/
*{
	padding:0; margin:0
}
table{
border-collapse:separate;
}
.ms-PartSpacingVertical{display:none !important;}
#eipcontainer{width: 960px;}

.PicImage img{
	width:408px;
}
.PicImage span{
	float:left;*display:inline;
}
.PicImage p{
	font-size:0;
	_font-size:0 !important;
}
#Layer2{
 margin-top:-15px !important;
}
#main
{
    width: 946px; /*height: 2041px;*/
    margin-left: 7px;
    margin-top: 2px;
}

.div21 .box1{
	border:1px #d6e2ee solid;
}
/*导航*/
.hidden{display:none}
#divbx{
	_z-index:10;
}
#divmail{
	float:left;
	_z-index:10;
}
#divmail .temailname{
	line-height:18px;font-family:"宋体";color:#6d6d6d;font-size:12px;font-weight:lighter;text-decoration:none;display:inline;}
#divmail .temail{line-height:18px;font-family:"宋体";color:#f7ae00;font-weight:lighter;font-size:12px;text-decoration:none;display:inline;}
#divmail a.temailname:link{
	color: #6d6d6d;
	text-decoration: none;
}
#divmail a.temailname:visited{
	color: #6d6d6d;
	text-decoration: none;
}
#divmail a.temailname:hover{
	color: #CC9933;
	text-decoration: none;
}
#divmail a.temailname:active{
	color: #6d6d6d;
	text-decoration: none;
}
#divmail a.temail:link{
	color:#ff9900;
	text-decoration:none;
}
#divmail a.temail:visited{
	color:#ff9900;
	text-decoration:none;
}
#divmail a.temail:hover{
	color: #CC9933;
	text-decoration: none;

}
#divmail a.temail:active{
	color:#ff9900;
	text-decoration:none;
}
#Main{margin-left:7px;}
#nav
{
	margin-left:7px;
	float:left;
	margin-top:3px;
    width: 946px; /*height: 63px;*/
}
/*通用修正*/
#nav P,#nav DIV{display:inline;float:left}
/*通用修正*/
#nav .pleft
{
    width: 7px;
    height: 63px;
    background: url('../Images/nav-left.jpg') no-repeat;
    margin: 0;
}
#nav .div1
{
    width: 932px;
    height: 62px;
    background-color: #fafafa;
    border-bottom: 1px #d9d7d8 solid;

}
#nav .pright
{
    width: 7px;
    height: 63px;
    background: url('../Images/nav-right.jpg') no-repeat;
    margin: 0;
}
#nav .div1 p
{
    width: 48px;
    margin-top: 5px;
    margin-left: 15px;
}
#nav .div1 .p1
{
    margin-left: 3px;
}
#nav .div1 .p2
{
    width: 60px;
}
#nav span
{
    width: 100%;
    text-align: center;
}
#nav a
{
    text-justify: distribute-all-lines;
    text-align: justify;
    color: #7c7c7c;
    line-height: 18px;
    display: block;
    width: 100%;
}
#nav a:link{color: #7c7c7c;text-decoration:none;}
#nav a:visited{color: #7c7c7c;text-decoration:none;}
#nav a:hover{color: #7c7c7c;text-decoration:none;}
#nav a:active{color: #7c7c7c;text-decoration:none;}
#nav .red a
{
    color: #a91f0e;
}
#nav .red a:link{color: #a91f0e;text-decoration:none}
#nav .red a:visited{color: #a91f0e;text-decoration:none}
#nav .red a:hover{color: #a91f0e;text-decoration:none}
#nav .red a:active{color: #a91f0e;text-decoration:none}
#nav .green a
{
    color: #618325;
}
#nav .green a:link{color: #618325;text-decoration:none}
#nav .green a:visited{color: #618325;text-decoration:none}
#nav .green a:hover{color: #618325;text-decoration:none}
#nav .green a:active{color: #618325;text-decoration:none}


/*新闻中心*/
#newscenter
{
    width: 945px; /*height: 476px;*/
    margin-top: 4px;
    margin-left:7px;
}
#newscenter div,#newscenter p,#newscenter ul{float:left;}
#newscenter .div1
{
    width: 100%; /*height: 35px;*/
}
/*#newscenter .div1 .newsnavbar{
	float:left;width:718px;overflow:hidden;
}*/
#newscenter .div1 .newsnavbar{
	float:left;width:718px;
}

#newscenter .div1 .searchbar{float:left;width:227px;overflow:hidden;}
#newscenter .div1 p
{
    line-height: 35px;
    margin-top: 2px;
}
#newscenter .div1 a
{
    color: #7c7c7c;
    text-decoration:none;
}
#newscenter .div1 .p1
{
    width: 302px;
    height: 35px;
    background: url('../Images/newscenter-bg1.jpg') no-repeat;
}
#newscenter .div1 .p1 span
{
    margin-left: 53px;
}
#newscenter .div1 .p2
{
    width: 416px;/*643*/
    height: 35px;
    background: url('../Images/newscenter-bg2.jpg') repeat-x;
    overflow:hidden
}

#newscenter .div1 .p2 .span0
{
    width: 1px;
    height: 22px;
    border-left: 1px #7c7c7c dotted;
    margin-top: 7px;
}
#newscenter .div1 .p2 .span1
{
    color: #c94c00;
    margin-left: 5px;
}
#newscenter .div1 .p2 .span2
{
    margin-left: 5px;
}
#newscenter .div1 .p2 .span2 a{
	text-decoration:none
}
#newscenter .div1 .p2 .span2 a:link{
	text-decoration:none
}
#newscenter .div1 .p2 .span2 a:visited{
	text-decoration:none;
}
#newscenter .div1 .p2 .span2 a:hover{
	text-decoration:none;color:#ff0000;
}
#newscenter .div1 .p2 .span2 a:active{
text-decoration:none;
}
#newscenter .div1 .p3
{
    width: 240px;/*643*/
    height: 35px;
    background: url('../Images/newscenter-bg2.jpg') repeat-x;
    overflow:hidden;
    margin-top:2px;
}

#newscenter .div1 .p3 span{
display:block;
float:left; 
background:transparent;
line-height:26px;
vertical-align:middle;
}
#newscenter .div1 .p3 .span2{
	margin-top:4px;
	margin-left:4px;
}
#newscenter .div1 .p3 img{
width:112px;
height:21px;
margin-top:1px;
}
#newscenter .div2
{
    width: 945px; /*height: 440px;*/
    border: 1px #edeef0 solid;
    border-top: 0;
}
/*左*/
#newscenter .div2 .div21
{
    width: 292px;
    height: auto;
    margin-top: 3px;
}
#newscenter .div2 .p1
{
    width: 290px;
    height: 243px;
    border: 1px #e7e7e7 solid;
    text-align: center;
}
.pmodel
{
    width: 290px;
    height: 29px;
    border-left: 0px;
    border-right: 0px;
    background: url('../Images/greybar.jpg') repeat-x;
}
.pmodel .span1 
{
    height: 29px;
    line-height: 29px;
    margin-top: 2px;
    color: #6c6c6c; text-decoration:none;
}
.pmodel .span1 
{
    height: 29px;
    line-height: 29px;
    margin-top: 2px;
    color: #6c6c6c; text-decoration:none;
}
.pmodel .span1 
{
    height: 29px;
    line-height: 29px;
    margin-top: 2px;
    color: #6c6c6c; text-decoration:none;

}
.pmodel .span_wl a:link
{
    height: 29px;
    line-height: 29px;
    margin-top: 2px;
    color: #6c6c6c; text-decoration:none;
}
.pmodel .span_wl a:visited
{
    height: 29px;
    line-height: 29px;
    margin-top: 2px;
    color: #6c6c6c; text-decoration:none;
}
.pmodel .span_wl a:hover
{
    height: 29px;
    line-height: 29px;
    margin-top: 2px;
    color: #6c6c6c; text-decoration:none;

}

  .pmodel .span2
{
    height: 29px;
    line-height: 29px;
}
.pmodel .span2 a:link{
	color: #6c6c6c; text-decoration:none;
}
.pmodel .span2 a:visited{
	color: #6c6c6c; text-decoration:none;
}
.pmodel .span2 a:hover{
	color: #6c6c6c; text-decoration:none;
}

#newscenter  .pmodel .span2
{
    float:right;
}
#newscenter .div2 .ul1 li
{
    background: url('../Images/video-dot.jpg') 0% 50% no-repeat;
}
#newscenter .div2 .ul2
{width: 74px;margin-top:0px;}
#newscenter .div2 .ul2 li
{
    width: 63px;
    height: 23px;
    line-height: 23px;
    text-align: center;
    border: 1px #e1e1e1 solid;
    background: url('../Images/video-btn.jpg') repeat-x;
    margin-top: 11px;
    margin-left: 5px;
}
#newscenter .div2 .ul2 li a
{
    color: #6c6c6c;
}
#newscenter .div2 .ul2 li a:link{
	color: #6c6c6c; text-decoration:none;
}
#newscenter .div2 .ul2 li a:visited{
	color: #6c6c6c; text-decoration:none;
}
#newscenter .div2 .ul2 li a:hover{
	color: #6c6c6c; text-decoration:none;
}
/*中*/
#newscenter .div2 .div22
{
    width: 408px;
    height: auto;
    margin-left: 4px;
    margin-top: 3px;
}
#newscenter .div2 .div22 p
{
    text-align: center;
}
#newscenter .div2 .div22 .ul1
{
    width: 356px;
    height: 348px;
    margin-top: 0;
}
#newscenter .div2 .div22 .ul1 li
{
    height: 25px;
    line-height: 25px;
    background: url('../Images/newscenter-dot.gif') 0% 50% no-repeat;
}
#newscenter .div2 .div22 .ul1 li a
{
    font-size: 14px;
    margin-left: 25px;
}
#newscenter .div2 .div22 .more a
{
    color: #6c6c6c;
    }
    /*网络电视*/
#newscenter a.wlds:link,#newscenter a.wlds:visited{
	color:#6c6c6c;
}
#newscenter a.wlds:hover{
	color:#a91f0e;
	text-decoration:none;
}


/*右*/
#newscenter .div2 .div23
{
    width: 227px;
    height: auto;
    margin-left: 8px;
    margin-top: 3px;
}
#newscenter .div2 .div23 .nav1
{
    width: 227px;
    height: 29px;
    line-height: 29px;
    border: 1px #edeef0 solid;
    border-right: 0;
    background: url('../Images/greybar.jpg') repeat-x;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    color: #6c6c6c;
    letter-spacing: 1px;
}
#newscenter .div2 .div23 .nav1 a
{
    font-size: 13px;
    font-weight: bold;
    color: #6c6c6c;
    letter-spacing: 1px;
    text-decoration:none;
}
#newscenter .div2 .div23 .zt1
{
    width: 226px;
    border-left: 1px #edeef0 solid;
}
#newscenter .div2 .div23 .ul1
{
    width: 226px;
    height: 130px;
    margin-top: 5px;
}
#newscenter .div2 .div23 .ul1 li
{
    height: 21px;
    line-height: 21px;
    background: url('../Images/news-dot.jpg') 5px 50% no-repeat;
}
#newscenter .div2 .div23 .ul1 li a
{
    font-size: 14px;
    margin-left: 15px;
}
#newscenter .div2 .div23 .p1
{
    width: 227px;
    height: 29px;
    margin: 0;
    border-right: 0;
}
#newscenter .div2 .div23 .p2
{
    margin-top: 1px;
    height: 145px; /*212*/
    
    border-right: 0;
}
#newscenter .div2 .div23 .p5
{
    margin-top: 1px;
    height: 174px; /*212*/
    
    border-right: 0;
}
#newscenter .div2 .div23 .p6
{
    margin-top: 1px;
    height: 112px; /*212*/
    
    border-right: 0;
}

#newscenter .div2 .div23 .ul3
{
    height: 103px;
    text-align: left;
}

#newscenter .div2 .div23 .zt2
{
    width: 226px;
    height: 27px;
    text-align: center;
    margin-top: 3px;
}


/*左边栏*/
#sidebar
{
    width: 233px; /*height: 1457px;*/
    margin-top: 5px;
    float:left;
}
.nav2 p{
	float:left;
}
.navborder{border: 1px #fec84d solid;float:left;width:231px;}
#sidebar .nav2
{
    border: 0px #fec84d solid;
    width: 233px; /*height: 1196px;*/
    float:left;
}
#sidebar .nav2 .box1
{
    width: 229px;
    height: 32px;
    border: 0;
    border-bottom: 1px #ffe989 solid;
    background: url('../Images/side-bar1.jpg') repeat-x;
}
#sidebar .nav2 .box1 .span1
{
    width: 180px;
    height: 32px;
    line-height: 32px;
    text-align: left;
}
#sidebar .nav2 .external, #sidebar .nav2 .external p
{
    width: 231px;
}
#sidebar .nav2 .p1
{
    width: 231px;
    height: 20px;
    line-height: 20px;
    background: url('../Images/side-bar2.jpg') repeat-x;
}
#sidebar .nav2 .external .p2, #sidebar .nav2 .external .p3
{
    width: 75px;
    height: 40px;
    margin-top: 5px;
}
#sidebar .nav2 .external .p2 span, #sidebar .nav2 .external .p3 span
{
    height: 20px;
    line-height: 20px;
    width: 75px;
    text-align: center;
    float:left
}
#sidebar .nav2 .external .p3
{
    border-left: 1px #757575 dotted;
}
#sidebar .nav2 .external a
{
    color: #6c6c6c;
}
.external a:link{
	color:#6c6c6c;text-decoration:none;
}
.external a:visited{
	color:#6c6c6c;text-decoration:none;
}

.external a:hover{
	color:#ff9900 !important;text-decoration:none;
}

.external a:active{
	color:#6c6c6c;text-decoration:none;
}

#sidebar .nav2 .external .p4 a
{
    color: #923c01;
}
#sidebar .nav2 .internal, #sidebar .nav2 .internal p, #sidebar .nav2 .internal div
{
    width: 229px;
}
DIV#nav3
{
    float: left;
    padding-top: 3px;
}
DIV#nav3 SPAN
{
    line-height: 21px;
    padding-left: 3px;
    color: #c58265;
    font-size: 13px;
    font-weight: bold;
}
DIV#nav3 P
{
    border-bottom: red 1px dotted;
    text-justify: inter-word;
    text-align: justify;
    line-height: 18px;
    text-indent: 0px;
    padding-left: 3px;
    padding-right: 11px;
    letter-spacing: -2px;
    font-size: 13px;
    word-spacing: 2px;
    padding-top: 0px;
}
DIV#nav3 A
{
    display: inline-block;
    color: #6d6d6d;
    text-decoration: none;
}
DIV#nav3 P
{
    display: block;
    float: inherit;
}
DIV#nav3 SPAN
{
    display: block;
    float: none;
}
#sidebar .countlist
{
    width: 231px;
    /*height: 257px;*/
    float:left;
    *margin-top:4px;/*ForIE7*/
    _margin-top:5px;/*ForIE6*/
}

/*



.bg4nav2{background:url('images/images_38.jpg') repeat-x;}

.nav2nav span a{color:#6c6c6c;;}
.nav2nav1 span a{color:#982f00;}
.nav2nav2{color:#c58264;}
div#nav2 li{
    height:16px;
    line-height:16px;}
div#nav2 li a{
	color:#6d6d6d;}
.nav2line{
	border-top:1px #fec84d dashed;
	height:1px;
	margin-top:3px;}


*/


/*右侧新闻主体*/
#content
{
    width: 710px; /*height: 1461px;*/
    *width:713px;
    margin-left: 5px;
    float:left;
}
#content .news
{
	float:left;
    width: 353px;
    margin-top: 5px;
    font-size:14px;
}
#content .news2
{
	float:left;
    width: 356px;
    margin-top: 5px;
    font-size:14px;

}
#content .news p
{
    width: 100%;
    height: 31px;
}
#content .news .span1, #content .news .span2
{
    height: 31px;
    line-height: 31px;
}
#content .news .span1
{
    width: 60px;
}
#content .news .span2{  float:right;}
.newslist
{
    width: 100%;
    height: 210px;
}
.newslist li
{
    height: 25px;
    line-height: 25px;
    background: url('../Images/news-dot.jpg') 10px 50% no-repeat;
}
.newslist li a
{
    font-size: 14px;
    margin-left: 25px;
}
#content .ulbr
{
    border-left: 0px;
}
#content .stock
{
    height: 146px;
    _margin-right:-2px;/*For IE6*/
    /*overflow:hidden;*/
}
#content .qydt
{
    width: 705px;margin-top:0px;
    
}
#content .combi
{
    width: 352px;
    /*height: 275px;*/
}
#content .combi ul
{
    width: 352px;
    clear:both;
    /*height: 275px;*/
}
#content .combi .zt
{
    width: 352px;
    height: 54px;
    margin-top: 5px;
    text-align: center;
}
#content .othernews
{

}
#content .linker
{
    width: 173px;
    height: 118px;
}
#content .linker .span1
{
    width: 171px;
    margin-left: 1px;
    height: 31px;
    line-height: 31px;
    background: url('../Images/news-bar2.jpg') repeat-x;
    border-bottom: 1px #ffe989 solid;
    text-align:left;
}
#content .linker ul
{
    height: 75px;
    width: 173px;
    margin-top: 7px;
}
#content .linker ul li
{
    width: 86px;
    height: 25px;
    line-height: 25px;
    text-align: center;
}
#content .linker ul li a
{
    color: #6c6c6c;
}
.linker div,.linker ul li{float:left;display:inline;}
.linker {border: 1px #ffe989 solid;}
/*相关链接*/
#links{
	float:left;
	margin-left:8px;
    height: auto;
    text-align: left;
    margin-bottom:10px;
}
#links div
{
    width: 100%;
    display:inline-block;
    }
#links span{
	float:left;
}
#links .span1
{
    margin-left: 16px;
    text-align: center;
}
.linker ul{
	float:left;
}
.linker ul a:link{
	color:#6c6c6c;text-decoration:none;
}
.linker ul a:visited{
	color:#6c6c6c;text-decoration:none;
}
.linker ul a:hover{
	color:#6c6c6c;text-decoration:none;
}
#links .span2
{
    margin-left: 17px;
    text-align: center;
}


.EditorCss
{
min-width:900px;
}



/*leftnavbar样式*/
#oHTML{
	padding-bottom:2px
}
#oHTML p{
padding-left:3px;
padding-right:7px;
_float:none;/*ForIE6*/
font-size:12px;
line-height:18px;
text-align:justify;
text-indent:0px;
border-bottom:dotted 1px red;
/*word-spacing:2px;*/
letter-spacing:0px;
}
#oHTML a{ text-decoration:none;}

#oHTML span{font-size:13px; font-weight:bold;float:left;clear:both;margin-left:3px;}
div#oHTML{float:left; width:229px; }

#oHTML img{float:left}
/*总部导航*/
.te1{
	font-family: "宋体";
	font-size: 12px;
	line-height: 18px;
	color: #6d6d6d;
	text-decoration: none;
    margin-left:3px;display:inline-block;	
}
a.te1:link {
	font-family: "宋体";
	font-size: 12px;
	line-height: 18px;
	color: #6d6d6d;
	text-decoration: none;
	
	
}
a.te1:visited {
	font-family: "宋体";
	font-size: 12px;
	line-height: 18px;
	font-weight: lighter;
	color: #6d6d6d;

}
a.te1:hover {
	font-family: "宋体";
	font-size: 12px;
	line-height: 18px;
	font-weight: lighter;
	color: #CC9933;

}
.tee{
	font-family: "宋体";
	font-size: 12px;
	line-height: 18px;
	color: #6d6d6d;
	text-decoration: none;
    margin-left:3px;display:inline-block;	
    letter-spacing:-1px;
}
a.tee:link {
	font-family: "宋体";
	font-size: 12px;
	line-height: 18px;
	color: #6d6d6d;
	text-decoration: none;
	 letter-spacing:-1px;
}
a.tee:visited {
	font-family: "宋体";
	font-size: 12px;
	line-height: 18px;
	font-weight: lighter;
	color: #6d6d6d;
    letter-spacing:-1px;
}
a.tee:hover {
	font-family: "宋体";
	font-size: 12px;
	line-height: 18px;
	font-weight: lighter;
	color: #CC9933;
    letter-spacing:-1px;
}

a.xngd:hover{
	color:#6d6d6d;
}
.te4 {
	font-family: "宋体";
	font-size: 12px;
	line-height: 18px;
	font-weight: bold;
	color: #c58265;
	display:block;
	float:none;
	width:98%;
}

a.te4:link {font-family: "宋体";font-size: 12px;line-height: 18px;font-weight: bold;color: #c58265;}
a.te4:visited {font-family: "宋体";font-size: 12px;line-height: 18px;font-weight: bold;color: #c58265;}
a.te4:hover {font-family: "宋体";font-size: 12px;line-height: 18px;font-weight: bold;color: #c58265;}
/*新闻列表通用样式*/
.w_newslist_list li a:link{color:#383838;text-decoration:none}/*新闻链接样式*/
.w_newslist_list li a:visited{color:#383838;text-decoration:none}/*新闻链接已访问样式*/
.w_newslist_list li a:hover{color:#f00;text-decoration:none}/*新闻链接鼠标滑过时样式*/
.w_newslist_list li a:active{color:#383838;text-decoration:none}/*新闻链接激活时样式*/
.w_newslist_list_sy li .date{
 /*text-indent:1em;*/font-family:Arial, Helvetica, sans-serif;color:#5f5f5f;font-size:12px;
}
/*新闻列表通用样式*/
/*领导讲话--搞成*/
/*今日关注*/
.w_newslist_box{font-family:宋体, Arial, Helvetica, sans-serif;font-size:14px;}
.w_newslist_body_jrgz{width:360px;}

/*三严三实开始添加*/
/*.w_newslist_foot_jrgz{margin-top:345px;margin-bottom:3px;}*/
/*三严三实结束添加*/

/*三严三实开始删除*/
.w_newslist_foot_jrgz{margin-top:0px !important;margin-bottom:3px; width:408px;}
.w_newslist_foot_jrgz .more span{text-align:center;display:block;  width:408px;}
.w_newslist_foot_jrgz .more .jrgz_more{display:block; padding:0 0 6px 0; text-align:right;  width:390px;}


/*三严三实结束删除*/

.w_newslist_foot_jrgz a{
	text-decoration:none;color:#656565;
}
.w_newslist_foot_jrgz a:link{
	text-decoration:none;color:#656565;
}
.w_newslist_foot_jrgz a:visited{
	text-decoration:none;color:#656565;
}
.w_newslist_foot_jrgz a:hover{
	text-decoration:none;color:#656565;
}
.w_newslist_foot_jrgz a:active{
	text-decoration:none;color:#656565;
}
.w_newslist_box_splb{font-size:12px;width:215px;margin-top:10px;}
.w_newslist_list_splb li{background: url('../Images/video-dot.jpg') 0% 50% no-repeat;line-height:24px;}

.w_newslist_box_sy{font-size:14px;border-right:0px;}
.w_newslist_box_rt{border-right:1px #fec84d solid;}
/*企业动态*/
.w_newslist_box_qydt{border:#fec84d 1px solid;width:708px;margin-top:3px;}
.w_newslist_head_qydt span.title{line-height:34px;padding-left:15px;float:left;}
.w_newslist_head_qydt span.more a{line-height:34px;float:right;display:inline-block;}
.w_newslist_head_qydt span.more{float:right;display:inline-block;}
.w_newslist_head_qydt .xxgt{display:inline-block;background:url('../images/qydt_bg0327b.jpg') no-repeat;width:261px;height:34px;margin-left:20px;line-height:34px;}
.w_newslist_list_qydt{height:312px;}
.w_newslist_head_qydt .bsxx{display:inline-block;background:url('../images/xxbspt2010926.gif') no-repeat;background-position: 0 50%;width:124px;height:34px;line-height:34px;margin-left:150px;}
.w_newslist_list_qydt{padding-left:12px;padding-right:0px;}
.w_newslist_list_qydt li{float:left;width:348px;}
.w_newslist_head_qydt{background:url('../images/qydt_bg0327.jpg') repeat-x;height:34px;}
.w_newslist_foot_qydt .pic1 {margin-left:10px;float:left; display:block;margin-bottom:5px;}
.w_newslist_foot_qydt .pic2 {margin-right:10px;float:right;display:block;margin-bottom:5px;}
/*企业动态*/

/*企业动态左右拼接*/
.w_newslist_box_qydtl{border-right:0px;margin-bottom:5px;}
.w_newslist_head_qydtl,.w_newslist_head_qydtr{background:url('../images/qydt_bg0327.jpg') repeat-x;height:34px;}
.w_newslist_head_qydtl .xxgt{display:inline-block;background:url('') no-repeat;width:261px;height:34px;float:right;line-height:34px;}
.w_newslist_head_qydtl span.title{line-height:34px;padding-left:15px;float:left;}
.w_newslist_head_qydtr span.more a{line-height:34px;float:right;display:inline-block;padding-top:0px;}
.w_newslist_head_qydtr span.more{float:right;display:inline-block;}
.w_newslist_head_qydtr .bsxx{display:inline-block;background:url('../images/xxbspt2010926.gif') no-repeat;background-position: 0 50%;width:124px;height:34px;line-height:34px;margin-left:50px;}
.w_newslist_list_qydtl,.w_newslist_list_qydtr{height:315px;padding-right:0px;}
.w_newslist_foot_qydtl .pic1 {margin-left:10px; display:block;margin-bottom:5px;}
.w_newslist_foot_qydtr .pic2 {margin-left:12px;display:block;margin-bottom:5px;}
.w_newslist_box_qydtr{border-left:0px;margin-bottom:5px;border-right:#fec84d 1px solid;}
/*综述分析*/
.w_newslist_list_zsfx,.w_newslist_list_ztbds{
	padding-left:2px;padding-right:2px;
}
.w_newslist_list_splb{
	padding-left:5px;padding-right:0px;
}
.w_newslist_list_sy{
	padding-left:10px;padding-right:10px;
}
/*能源聚焦 部委动态*/
.w_newslist_list_nyjj{
	padding-bottom:4px;
	*padding-bottom:0px;/*IE7*/
	_padding-bottom:4px;/*IE6*/
}
.w_newslist_list_gjbwdt{
	padding-bottom:2px;
	*padding-bottom:0px;/*IE7*/
	_padding-bottom:2px;/*IE6*/
}
/*幻灯片新闻*/
a#PlayMsgLink:link{
color:#505050;text-decoration:none;
}
a#PlayMsgLink:visited{
color:#505050;text-decoration:none;	
}
a#PlayMsgLink:hover{
color:#f00;text-decoration:none;	
}
a#PlayMsgLink:active{
color:#505050;text-decoration:none;	
}
/*幻灯片新闻*/
/*排行*/
.phbc
{
	background:url('../Images/xwph_06.jpg');border-bottom:1px #fcc94c solid;float:left;padding-bottom:5px;}
/*排行*/
/*石油报系*/
a.Newste1{
	font-family: "宋体";
	font-size: 12px;
	line-height: 18px;
	font-weight: lighter;
}
a.Newste1:link {
	
	color: #6d6d6d;
	text-decoration: none;
	
	
}
a.Newste1:visited {
	text-decoration: none;
	color: #6d6d6d;

}
a.Newste1:hover {
	text-decoration: none;
	color:#ff9900 !important;
}
a.Newste1:active{
	text-decoration: none;
	color: #6d6d6d;
}
/*生活社区*/
.linker .span1 span.ml15{
	font-size:12px;
}
#content .mod1{
	width:172px;
}
#content .mod3{
	width:174px;
}
/*搜索*/	
.search_box_s_index{
	margin-top:3px;
}
.search_box_s_index select{ 
	width:79px; }

/* 新闻列表WEB部件样式 For IE6 */
.w_newslist_box_IE6 {border:#fec84d 1px solid;font-size:14px; font-family: 宋体, Arial, Helvetica, sans-serif;}/*整体宽度、webpart之间间距*/
.w_newslist_head_IE6 {background: url(../images/mod_21a_new.jpg) repeat-x; height: 36px;width:100%}/*标题背景控制*/
.w_newslist_head_IE6 span.title {line-height: 36px; padding-left: 15px; color: #535454; font-weight: bold}/*标题文字样式控制*/
.w_newslist_head_IE6 span.title {float:left;}
.w_newslist_head_IE6 span.more {float:right;}
.w_newslist_head_IE6 span.more A {line-height: 36px; padding-right: 15px; color: #666; font-weight: normal; text-decoration: none;}/*更多文字控制*/
.w_newslist_head_IE6 span.more a:link{color:#666;text-decoration:none;}/*未访问链接样式*/
.w_newslist_head_IE6 span.more a:visited{color:#666;text-decoration:none;}/*已访问链接样式*/
.w_newslist_head_IE6 span.more a:hover{color:#666;text-decoration:none;}/*鼠标滑过时链接样式*/
.w_newslist_head_IE6 span.more a:active{color:#666;text-decoration:none;}/*选中的链接样式*/
.w_newslist_body_IE6 {background: url(../images/qydt_501.jpg) no-repeat}/*列表背景控制*/
.w_newslist_list_IE6 {list-style-type: none; margin-top: 0px; padding:0px 15px; height: auto; overflow: hidden}/*列表内间距、高度等*/
.w_newslist_list_IE6 li {line-height: 26px; background: url(../images/xwzxr_22.jpg) no-repeat 0px 50%; height: auto}/*标题图标、行高控制*/
.w_newslist_list_IE6 li .title {padding-left: 15px}/*列表内新闻标题样式控制*/
.w_newslist_list_IE6 li .date{text-indent:1em;font-family:Arial, Helvetica, sans-serif;color:#5f5f5f;font-size:12px;}
.w_newslist_list_IE6 li .newsicon{background:url(../images/newsicon.gif) no-repeat 10px 50%;width:38px;height:26px;float:left;}/*New图标*/
.w_newslist_list_IE6 li A:link {color: #383838; text-decoration: none}/*新闻链接样式*/
.w_newslist_list_IE6 li A:visited {color: #383838; text-decoration: none}/*新闻链接已访问样式*/
.w_newslist_list_IE6 li A:hover {color: red; text-decoration: none}/*新闻链接鼠标滑过时样式*/
.w_newslist_list_IE6 li A:active {color: #383838; text-decoration: none}/*新闻链接激活时样式*/
.w_newslist_list_IE6 li .date {line-height: 26px; display: inline; float: right; color: #666; font-size: 12px}/*日期*/
.w_newslist_foot_IE6 {}/*列表下方内容控制*/
/* END 新闻列表WEB部件样式 For IE6 */
.w_newslist_head_sy span.titlef{
	margin-left:20px;
	*margin-top:10px;/*IE6 7*/
}
.w_newslist_head_sy span.titlef a:link{
	COLOR: #6c6c6c;
	font-family:"宋体";
    font-size:12px;
    text-decoration:none;

}.w_newslist_head_sy span.titlef a:visited{
	COLOR: #6c6c6c;
	font-family:"宋体";
    font-size:12px;
    text-decoration:none;

}
.w_newslist_head_sy span.titlef a:hover{
	COLOR: #6c6c6c;
	font-family:"宋体";
    font-size:12px;
    text-decoration:none;   
}
.w_newslist_head_sy span.jbx a:link,.w_newslist_head_sy span.jbx a:visited,.w_newslist_head_sy span.jbx a:hover{
	letter-spacing:-1px;
	
}
.w_newslist_head_rt span.titlep{
	margin-left:120px;
	*margin-top:10px;
}
.w_newslist_head_rt span.titlep a:link{
	COLOR: #e11505;
	font-family:"宋体";
    font-size:14px;text-decoration:none;

}
.w_newslist_head_rt span.titlep a:visited{
	COLOR: #e11505;
	font-family:"宋体";
    font-size:14px;text-decoration:none;

}
.w_newslist_head_rt span.titlep a:hover{
	COLOR: #e11505;
	font-family:"宋体";
    font-size:14px;text-decoration:none;
}
.w_newslist_head_rt span.titlep a:active{
	COLOR: #e11505;
	font-family:"宋体";
    font-size:14px;text-decoration:none;
}

/*搜索背景图*/
#SRSB{
background:url('../images/search_bg.jpg') repeat-x;width:227px;height:37px;}
.gzwflash
{
width:227px;padding:2px 0px;margin-top:2px;text-align:center;vertical-align:middle;
border: #e7e7e7 1px solid;
border-right:0px;border-bottom:0px;
}

/*IE6兼容样式调整*/
.w_newslist_list_qydt li{
	*width:340px;
}
.w_newslist_list_sy{
	*padding-right:8px;
}
.w_newslist_foot_qydt .pic1,.w_newslist_foot_qydt .pic2{
	_display:inline;
}
.w_newslist_head_sy span.more a{
	*display:inline;}
#nav{
	_display:inline;
}
#newscenter div{
	_display:inline;
}
#links{
	*display:inline;*margin-left:3px;
}
.linker{
	*display:inline;
}
#content .mod4{
	*margin-left:3px;*width:170px;
}
#content .mod3{
	*width:172px;
}
#content{
	*display:inline;
}
#sidebar .nav2{
	_width:231px;
}
/*左侧导航*/
#oHTML .qtdw{
	border-bottom:0px;letter-spacing:-1px;word-spacing:-2px;
	*word-spacing:-4px;/*ForIE6*/
}
#oHTML .kydw{
	border-bottom:0px;letter-spacing:-1px;word-spacing:0px;
	*word-spacing:-4px;/*ForIE6*/border-bottom:dotted 1px red;
}

#oHTML .gcjsqy{
	letter-spacing:-1px;word-spacing:1px;*word-spacing:-1px;
}
#oHTML .zygs{
	letter-spacing:-1px;word-spacing:-2px;*word-spacing:-4px;
}
#oHTML .lhqy{
	word-spacing:0px;letter-spacing:-1px;
	*word-spacing:-2px;
}
#oHTML .zbzzqy{
	word-spacing:2px;letter-spacing:-2px;
	*word-spacing:-1px;
}
.w_newslist_box_ztbds{
	width:227px;
}
.w_newslist_head_sy span{
	*float:left;
}
.w_newslist_head_qydt .title,.w_newslist_head_qydt a{
	*float:left;
}
.w_newslist_head_qydtr .title,.w_newslist_head_qydtr a{
	*float:left;
}
.w_newslist_list_qydtr,.w_newslist_list_qydtl{
	*padding-top:4px;*padding-bottom:5px;
}
.w_newslist_list_qydt{
	*padding: 4px 0px 5px 20px;
}
.w_newslist_list_sy li span{
	*float:left;
}
.w_newslist_head_jrgz span.more a{
	*padding-right:0px;*float:left;
}
.w_newslist_head_splb span.more a,.w_newslist_head_zxfx span.more a,.w_newslist_head_ztbds span.more a{
	*padding-right:0px;*float:left;
}
.xwzxlog{float:left;width:100px;height:31px;_display:inline;}

/*专题报道字体样式列表*/
.w_newslist_list_ztbds li a.font12_gray_normal:link {
 LINE-HEIGHT: 20px;  COLOR: #383838; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.w_newslist_list_ztbds li a.font12_gray_normal:visited {
 LINE-HEIGHT: 20px;  COLOR: #383838; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.w_newslist_list_ztbds li a.font12_gray_normal:hover {
 LINE-HEIGHT: 20px;  COLOR: #ff3300; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.w_newslist_list_ztbds li a.font12_gray_normal:active {
 LINE-HEIGHT: 20px;  COLOR: #383838; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.inline style{height:160px !important;}
.w_newslist_list_ztbds li a.font12_gray_bold:link {
  COLOR: #383838; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.w_newslist_list_ztbds li a.font12_gray_bold:visited {
  COLOR: #383838; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.w_newslist_list_ztbds li a.font12_gray_bold:hover {
  COLOR: #ff3300; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.w_newslist_list_ztbds li a.font12_gray_bold:active {
  COLOR: #383838; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}

.w_newslist_list_ztbds li a.font14_gray_bold:link {
  COLOR: #383838; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.w_newslist_list_ztbds li a.font14_gray_bold:visited {
  COLOR: #383838; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.w_newslist_list_ztbds li a.font14_gray_bold:hover {
  COLOR: #ff3300; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.w_newslist_list_ztbds li a.font14_gray_bold:active {
  COLOR: #383838; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}

.w_newslist_list_ztbds li a.font12_red_normal:link {
 LINE-HEIGHT: 20px;  COLOR: #cc1301; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.w_newslist_list_ztbds li a.font12_red_normal:visited {
 LINE-HEIGHT: 20px;  COLOR: #cc1301; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.w_newslist_list_ztbds li a.font12_red_normal:hover {
 LINE-HEIGHT: 20px;  COLOR: #000000; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.w_newslist_list_ztbds li a.font12_red_normal:active {
 LINE-HEIGHT: 20px;  COLOR: #cc1301; FONT-SIZE: 12px; TEXT-DECORATION: none
}

.w_newslist_list_ztbds li a.font14_red_normal:link {
 LINE-HEIGHT: 20px;  COLOR: #cc1301; FONT-SIZE: 14px; TEXT-DECORATION: none
}
.w_newslist_list_ztbds li a.font14_red_normal:visited {
 LINE-HEIGHT: 20px;  COLOR: #cc1301; FONT-SIZE: 14px; TEXT-DECORATION: none
}
.w_newslist_list_ztbds li a.font14_red_normal:hover {
 LINE-HEIGHT: 20px;  COLOR: #000000; FONT-SIZE: 14px; TEXT-DECORATION: none
}
.w_newslist_list_ztbds li a.font14_red_normal:active {
 LINE-HEIGHT: 20px;  COLOR: #cc1301; FONT-SIZE: 14px; TEXT-DECORATION: none
}

.w_newslist_list_ztbds li a.font14_red_bold:link {
  COLOR: #cc1301; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.w_newslist_list_ztbds li a.font14_red_bold:visited {
  COLOR: #cc1301; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.w_newslist_list_ztbds li a.font14_red_bold:hover {
  COLOR: #000000; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.w_newslist_list_ztbds li a.font14_red_bold:active {
  COLOR: #cc1301; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}

.w_newslist_list_ztbds li a.font14_red2_bold:link {
  COLOR: #cc0000; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.w_newslist_list_ztbds li a.font14_red2_bold:visited {
  COLOR: #cc0000; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.w_newslist_list_ztbds li a.font14_red2_bold:hover {
  COLOR: #ff9c01; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.w_newslist_list_ztbds li a.font14_red2_bold:active {
  COLOR: #cc0000; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}

.w_newslist_list_ztbds li a.font14_blue_normal:link {
  COLOR: #0153a7; FONT-SIZE: 14px; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.w_newslist_list_ztbds li a.font14_blue_normal:visited {
  COLOR: #0153a7; FONT-SIZE: 14px; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.w_newslist_list_ztbds li a.font14_blue_normal:hover {
  COLOR: #0153a7; FONT-SIZE: 14px; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.w_newslist_list_ztbds li a.font14_blue_normal:active {
  COLOR: #0153a7; FONT-SIZE: 14px; FONT-WEIGHT: normal; TEXT-DECORATION: none
}

.w_newslist_list_ztbds li a.font14_blue_bold:link {
  COLOR: #0153a7; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.w_newslist_list_ztbds li a.font14_blue_bold:visited {
  COLOR: #0153a7; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.w_newslist_list_ztbds li a.font14_blue_bold:hover {
  COLOR: #0153a7; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.w_newslist_list_ztbds li a.font14_blue_bold:active {
  COLOR: #0153a7; FONT-WEIGHT: bold; TEXT-DECORATION: none
}

.w_newslist_list_ztbds li a.font14_black_normal:link {
  COLOR: #000000; FONT-SIZE: 14px; TEXT-DECORATION: none
}
.w_newslist_list_ztbds li a.font14_black_normal:visited {
  COLOR: #000000; FONT-SIZE: 14px; TEXT-DECORATION: none
}
.w_newslist_list_ztbds li a.font14_black_normal:hover {
  COLOR: #ff3300; FONT-SIZE: 14px; TEXT-DECORATION: none
}
.w_newslist_list_ztbds li a.font14_black_normal:active {
  COLOR: #000000; FONT-SIZE: 14px; TEXT-DECORATION: none
}

.w_newslist_list_ztbds li a.font14_black_bold:link {
  COLOR: #000000; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.w_newslist_list_ztbds li a.font14_black_bold:visited {
  COLOR: #000000; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.w_newslist_list_ztbds li a.font14_black_bold:hover {
  COLOR: #ff3300; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.w_newslist_list_ztbds li a.font14_black_bold:active {
  COLOR: #000000; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
/*品牌形象字体样式列表*/
a.ppxx511:link {
	font-family: "宋体";
	font-size: 12px;
	line-height: 18px;
	color: #0153a7;
	text-decoration: none;
}
a.ppxx511:visited {
	font-family: "宋体";
	font-size: 12px;
	line-height: 18px;
	color: #0153a7;
	text-decoration: none;
}
a.ppxx511:hover {
	font-family: "宋体";
	font-size: 12px;
	line-height: 18px;
	color: #0153a7;
	text-decoration: none;
}

a.ppxx512:link {
	font-family: "宋体";
	font-size: 12px;
	line-height: 18px;
	color: #383838;
	text-decoration: none;
}
a.ppxx512:visited {
	font-family: "宋体";
	font-size: 12px;
	line-height: 18px;
	color: #383838;
	text-decoration: none;
}
a.ppxx512:hover {
	font-family: "宋体";
	font-size: 12px;
	line-height: 18px;
	color: #383838;
	text-decoration: none;
}

/*专题报道字体样式列表*/
/*首页新闻间距*/

.w_newslist_list_qydtl,.w_newslist_list_qydtr{
height:290px !important;
}
.w_newslist_box_sy{
	padding-bottom:10px;
}
.w_newslist_list_qydtl,.w_newslist_list_qydtr{
	padding-top:3px;padding-bottom:3px;
	_padding-top:6px;_padding-bottom:6px;
	*padding-top:7px;*padding-bottom:7px;

}
.w_newslist_box_qydtl,.w_newslist_box_qydtr{
	padding-bottom:7px !important;
	*padding-bottom:10px;
}
.ldgbr{
 padding-top:-5px;
}
#newscenter #Layer2{
	width:100%;
}
.w_newslist_head_zsfx{ _display:none}
.w_newslist_box_zsfx{
	*width:220px;
}
/*gzhjd20130129*/
.w_newslist_box_news{
	width:228px;	/*此处如有变化，可覆盖*/
	_width:220px;
	height:200px;
	border:1px #e7e7e7 solid;
}
.w_newslist_head_news{
	width:100%;
	height:32px;
}
.w_newslist_list_news{
	width:100%;
	height:auto;
	margin:4px auto;
}
.w_newslist_list_news li{
	width:100%;
	height:26px;
	line-height:26px;
	vertical-align:middle;
}
.w_newslist_list_news li .title{
	float:left;
	display:block;
	width:100%;
	height:26px;
	background:url('/PageAssets/images/xwzxr_22.jpg') no-repeat 6px 50%;
}
.w_newslist_list_news li .title a{
	font-size:14px;
	margin:0px 0px 0px 20px;
}
.w_newslist_list_news li .title a:link,.w_newslist_list_news li .title a:visited{
	color:#383838;
	text-decoration:none;
}
.w_newslist_list_news li .title a:hover{
	color:red;
}
.w_newslist_foot_news{
	width:100%;
	height:27px;
}
.w_newslist_foot_news span,.w_newslist_foot_news span img{
	display:block;
	width:101px;
	height:27px;
}
.w_newslist_foot_news .sp1{
	float:left;
	margin-left:8px;
	_margin-left:4px;
}
.w_newslist_foot_news .sp2{
	float:right;
	margin-right:8px;
	_margin-right:1px;
}
.w_newslist_list li a.font14_red_normal:link {
 COLOR: #cc1301; FONT-SIZE: 14px; TEXT-DECORATION: none
}
.w_newslist_list li a.font14_red_normal:visited {
 COLOR: #cc1301; FONT-SIZE: 14px; TEXT-DECORATION: none
}
.w_newslist_list li a.font14_red_normal:hover {
 COLOR: #000000; FONT-SIZE: 14px; TEXT-DECORATION: none
}
.w_newslist_list li a.font14_red_normal:active {
 COLOR: #cc1301; FONT-SIZE: 14px; TEXT-DECORATION: none
}

.w_newslist_list_ztbdNews li a.font14_gray_bold:link {
  COLOR: #383838; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.w_newslist_list_ztbdNews li a.font14_gray_bold:visited {
  COLOR: #383838; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.w_newslist_list_ztbdNews li a.font14_gray_bold:hover {
  COLOR: #ff3300; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.w_newslist_list_ztbdNews li a.font14_gray_bold:active {
  COLOR: #383838; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}


/*20130130 added by mengm, for search*/
.search_box_s_index input{
	*height:14px;
	_height:14px;
	*margin-top:3px;
	_margin-top:3px;
}
.search_box_s_index select{
	*margin-top:4px;
	_margin-top:4px;
}
/*综述分析*/
.zsfx h3 a:link,.zsfx h3 a:visited{
font-family:"宋体"; 
COLOR: #6c6c6c;
font-size:12px;
font-weight:bold;
text-decoration:none;
}
.zsfx h3 a:hover{
font-family:"宋体";
COLOR: #6c6c6c;
font-size:12px;
font-weight:bold;
text-decoration:none;
}
.zsfx p{
font-family:"宋体";
COLOR: #6c6c6c;
font-size:12px;
line-height:22px;
height:204px;
}

/*20130219专题报道*/
.w_newslist_foot_ztbds img{
	display:block;
	margin-left:2px;
}
.w_newslist_box_news1{
	width:228px;	/*此处如有变化，可覆盖*/
	_width:220px;
	height:175px;
	border:1px #e7e7e7 solid;
}
.w_newslist_head_news1{
	width:100%;
	height:32px;
}
.w_newslist_list_news1{
	width:100%;
	height:auto;
	margin:4px auto;
}
.w_newslist_list_news1 li{
	width:100%;
	height:26px;
	line-height:26px;
	vertical-align:middle;
}
.w_newslist_list_news1 li .title{
	float:left;
	display:block;
	width:100%;
	height:26px;
	background:url('/PageAssets/images/xwzxr_22.jpg') no-repeat 6px 50%;
}
.w_newslist_list_news1 li .title a{
	font-size:14px;
	margin:0px 0px 0px 20px;
}
.w_newslist_list_news1 li .title a:link,.w_newslist_list_news1 li .title a:visited{
	color:#383838;
	text-decoration:none;
}
.w_newslist_list_news1 li .title a:hover{
	color:red;
}
/*.w_newslist_foot_news1{
	width:100%;
	height:27px;
}
.w_newslist_foot_news1 span,.w_newslist_foot_news1 span img{
	display:block;
	width:101px;
	height:27px;
}
.w_newslist_foot_news1 .sp1{
	float:left;
	margin-left:8px;
	_margin-left:4px;
}
.w_newslist_foot_news1 .sp2{
	float:right;
	margin-right:8px;
	_margin-right:1px;
}*/
/*20130305姚瑶添加，隐藏foot*/
.w_newslist_foot_news1{
display:none;
}
/*20130307 added by mengm,sunbo topic*/
#newscenter .w_newslist_box_ztbdNews{
	width:228px;	/*此处如有变化，可覆盖*/
	_width:227px;
	border:1px #e7e7e7 solid;
	border-right:0px;
	margin-top:0px;
	*margin-top:3px;
	_margin-top:0;
}
#newscenter .w_newslist_head_ztbdNews{
	width:100%;
	height:29px;
	background:transparent url('/PageAssets/Images/greybar.jpg') repeat-x;
	line-height:29px;
	vertical-align:middle;
}
#newscenter .w_newslist_head_ztbdNews .title{
	display:block;
	float:left;
	font-size:14px;
	font-weight:bold;
	color:#6c6c6c;
	margin-left:15px;
	_margin-left:8px;
}
#newscenter .w_newslist_head_ztbdNews .more{
	display:block;
	float:right;
	margin-right:8px;
	_margin-right:4px;
	font-family:宋体, Arial, Helvetica, sans-serif;
}
#newscenter .w_newslist_head_ztbdNews .more a:link,#newscenter .w_newslist_head_ztbdNews .more a:visited,#newscenter .w_newslist_head_ztbdNews .more a:hover{
	font-size:12px;
	color:#6c6c6c;
	text-decoration:none;
}
#newscenter .w_newslist_body_ztbdNews{
	width:100%;
}
#newscenter .w_newslist_list_ztbdNews{
	width:95%;
	height:auto;
	margin:2px auto;
	_margin:3px auto;
}
#newscenter .csxxgd {
	width:5%;
	float:left;
	padding-top:52px;
}

#newscenter .w_newslist_list_ztbdNews li{
	width:100%;
	height:26px;
	line-height:26px;
	vertical-align:middle;
}
#newscenter .w_newslist_list_ztbdNews li .title{
	display:block;
	float:left;
	width:100%;
	height:26px;
	background:url('/PageAssets/images/xwzxr_22.jpg') no-repeat 6px 50%;
}
#newscenter .w_newslist_list_ztbdNews li .title a{
	font-size:14px;
	margin:0px 0px 0px 20px;
}
#newscenter .w_newslist_list_ztbdNews li .title a:link,#newscenter .w_newslist_list_ztbdNews li .title a:visited,#newscenter .w_newslist_list_ztbdNews li .title a:hover{
	color:#383838;
	text-decoration:none;
}
#newscenter .smallflash,#newscenter .smallflash object,#newscenter .smallflash object embed{
	width:226px;
	_width:225px;
	height:47px;
}

/*20150811*/
.cslhxx .w_newslist_head_ztbdNews{
	 height:88px !important;}
.cslhxx .w_newslist_head_ztbdNews .title{
	  margin-left:8px !important; _margin-left:4px !important; margin-right:8px; _margin-right:4px; margin-top:0px; line-height:18px; font-size:12px; text-align:center;
}
.cslhxx .w_newslist_head_ztbdNews .cssyxxtplj{
	 height:67px; width:225px; cursor:pointer;
}
.cslhxx .w_newslist_head_ztbdNews .title a:hover,.cslhxx .w_newslist_head_ztbdNews .title a:visited,.cslhxx .w_newslist_head_ztbdNews .title a:link{
	 color:#f02d00; font-weight: normal; font-size:12px; text-align:center; text-decoration:none;} 
.cslhxx .w_newslist_list_ztbdNews{margin:4px 0 !important;}
.cslhxx .w_newslist_head_ztbdNews .title .jrzt:hover,.cslhxx .w_newslist_head_ztbdNews .title .jrzt:visited,.cslhxx .w_newslist_head_ztbdNews .title .jrzt:link{
	 color: #0000FF; }

/*20150811*/
.kyjl .w_newslist_head_ztbdNews{
	background:url('/PageAssets/Images/20160328a.jpg') no-repeat !important; height:88px !important;}
.kyjl .ztbdHead .cssyxxtplj {
     height:60px;
}
.kyjl .w_newslist_list_ztbdNews{
	margin-top:-2px !important;
	margin-bottom:2px !important;
}
.xxgc .w_newslist_head_ztbdNews{
	background:url('/PageAssets/Images/20160408b.jpg') no-repeat !important; height:62px !important;}
.xxgc .ztbdHead .cssyxxtplj {
     height:60px;
}
.xxgc .w_newslist_list_ztbdNews{
	margin-top:-2px !important;
	margin-bottom:2px !important;
}



#newscenter .smallflash{
	margin:0 1px;
}
/*20130407 added by mengm,adjust sunbo topic*/
#newscenter .ztPic,#newscenter .ztPic img{
	width:226px;
	height:46px;
}
#newscenter .ztPic{
	margin:0 1px;
}
#newscenter .w_newslist_box_ztbdNews{
	_border-bottom:0px;
}
/*20130407专题报道区域新闻样式*/
/*blue-normal*/
#s4-mainarea li a.font14_blue_normal:link,#s4-mainarea li a.font14_blue_normal:visited {
  	color: #0153a7!important; font-size: 14px; font-weight: normal; text-decoration: none;
}
#s4-mainarea li a.font14_blue_normal:hover{
	color:#000!important;font-size:14px;font-weight:normal;text-decoration:none;
}
/*blue-bold*/
#s4-mainarea li a.font14_blue_bold:link,#s4-mainarea li a.font14_blue_bold:visited {
  	color: #0153a7!important;font-weight: bold!important; text-decoration: none;
}
#s4-mainarea li a.font14_blue_bold:hover{
	color:#f00!important;font-weight:bold!important;text-decoration:none;
}
/*red-normal*/
#s4-mainarea li a.font14_red_normal:link,#s4-mainarea li a.font14_red_normal:visited {
  color: #cc1301!important; font-size: 14px; font-weight: normal; text-decoration: none;
}
#s4-mainarea li a.font14_red_normal:hover{
	color:#000!important;font-size:14px;font-weight:normal;text-decoration:none;
}
/*red-bold*/
#s4-mainarea li a.font14_red_bold:link,#s4-mainarea li a.font14_red_bold:visited {
  color: #cc1301!important; font-size: 14px; font-weight: bold!important; text-decoration: none;
}
#s4-mainarea li a.font14_red_bold:hover{
	color:#000;font-weight:bold!important;
}
/*black-normal*/
#s4-mainarea li a.font14_black_normal:link,#s4-mainarea li a.font14_black_normal:visited {
  color: #000!important; font-size: 14px; font-weight: normal; text-decoration: none;
}
#s4-mainarea li a.font14_black_normal:hover{
	color:#f30!important;font-size:14px;font-weight:normal;text-decoration:none;
}
/*black-bold*/
#s4-mainarea li a.font14_black_bold:link,#s4-mainarea li a.font14_black_bold:visited {
  color: #000!important; font-size: 14px; font-weight: bold!important; text-decoration: none;
}
#s4-mainarea li a.font14_black_bold:hover{
	color:#f30;font-weight:bold!important;
}
/*20130423 add by mengm, 中国石油保供救灾专栏细调*/
#newscenter .bgjzHead{
	height:46px;
	background:url('');	
}
#newscenter .bgjzHead .title,#newscenter .bgjzHead .title img{
	display:block;
	width:211px;
	height:46px;
}
#newscenter .bgjzHead .title{
	margin-left:1px;
	_margin-left:0;
}
#newscenter .bgjzHead .more,#newscenter .bgjzHead .more img{
	display:block;
	width:15px;
	height:46px;
	margin-right:0;
}
#newscenter .bgjzHead .title,#newscenter .bgjzHead .more{
	float:left;
}
/*test by mengm,20130723,for jrgzTitle*/
#s4-workspace,#s4-mainarea{
	height:100%;
}
#newscenter{
	*position:relative;
}
.jrgzTitle{
	color:#8a8a8a;
	font-weight:bold;
	text-indent:10px;
	margin-top:-8px;
	*position:absolute;
	*top:40px;
	*z-index:10;
}

div.tab1{
	margin-left:6px;
	width:220px;
	height:20px;
	line-height:20px;
	text-align:center;

}
div.tab1 a:link,div.tab1 a:visited{
	font-family:宋体, Arial, Helvetica, sans-serif;
	color:#cc1600;
	font-size:13px;
	text-decoration:none;
}
div.tab1 a:hover{
	font-family:宋体, Arial, Helvetica, sans-serif;
	color:#cc1600;
	font-size:13px;

}
div.tab1 div.tab11,div.tab1 div.tab12,div.tab1 div.tab13{
	background:#FDE5DE;
	width:65px;
	margin-right:3px;
	height:20px;
}

div.tab1 div.tab13{
	margin-right:0px;
	width:80px;
}

div#yp_card1,div#yp_card2{
	_height:117px !important;
}

div.pic1{
	_margin-top:2px;
}
/*18szqh,20131118*/
div.tab1 div.tab14{
	background:#FDE5DE;
	width:90px;
	margin-right:3px;
	height:20px;
}
div.tab1 div.tab15{
	background:#FDE5DE;
	width:70px;
	margin-right:3px;
	height:20px;
}

div.tab1 div.tab16{
	background:#FDE5DE;
	width:50px;
	margin-right:3px;
	height:20px;
}

/*added by mengm,20130903*/
.w_newslist_box_jrgz ul{
	*+width:100%!important;
	_width:auto!important;
}
/*added by mengm,20131128
.w_newslist_list_sy li{
	height:26px;
	overflow:hidden;
}*/
.w_newslist_box_nyjj,.w_newslist_box_gjbwdt{
	padding-bottom:8px;
}
#content .linker{
	overflow:hidden!important;
	width:172px!important;
}
#content .mod1,#content .mod3,#content .mod4{
	width:172px!important;
}
#content .mod3{
	margin-left:3px!important;
}
.mod4{
	float:right!important;
	margin-left:0px!important;
	overflow:hidden;
}
/*added by yaoy,20131224*/
#newscenter .div1 .p21
{
    width: 290px;/*643*/
    height: 35px;
    background: url('../Images/newscenter-bg2.jpg') repeat-x;
    overflow:hidden
}
#newscenter .div1 .p31
{
    width: 126px;/*643*/
    height: 35px;
    background: url('../Images/newscenter-bg2.jpg') repeat-x;
    /*overflow:hidden;
    margin-top:2px;*/
}
#newscenter .div1 .p4
{
    width: 240px;/*643*/
    height: 35px;
    background: url('../Images/newscenter-bg2.jpg') repeat-x;
    overflow:hidden;
    margin-top:2px;
}

/*2014-06-04 ln*/

.w_newslist_head_sy span.titlef{
	margin-left:10px;
	_margin-left:10px;
}
/*2014-06-09 mm*/
.ztdtpic1{ 
	height:31px;
}
/*2014-09-05 mm*/
#nav .blue1 a
{
    color: #1693bf;
}
#nav .blue1 a:link{color: #1693bf;text-decoration:none}
#nav .blue1 a:visited{color: #1693bf;text-decoration:none}
#nav .blue1 a:hover{color: #1693bf;text-decoration:none}
#nav .blue1 a:active{color: #1693bf;text-decoration:none}

/*2014-09-10 yy*/
.w_newslist_list_qydtl2,.w_newslist_list_qydtr2{
height:268px !important;
}
.w_newslist_box_qydtl2{border-right:0px;margin-bottom:5px;}
.w_newslist_head_qydtl2,.w_newslist_head_qydtr2{background:url('../images/qydt_bg0327.jpg') repeat-x;height:34px;}
.w_newslist_head_qydtl2 .xxgt{display:inline-block;background:url('') no-repeat;width:261px;height:34px;float:right;line-height:34px;}
.w_newslist_head_qydtl2 span.title{line-height:34px;padding-left:15px;float:left;}
.w_newslist_head_qydtr2 span.more a{line-height:34px;float:right;display:inline-block;padding-top:0px;}
.w_newslist_head_qydtr2 span.more{float:right;display:inline-block;}
.w_newslist_head_qydtr2 .bsxx{display:inline-block;background:url('../images/xxbspt2010926.gif') no-repeat;background-position: 0 50%;width:124px;height:34px;line-height:34px;margin-left:50px;}
.w_newslist_list_qydtl2,.w_newslist_list_qydtr2{height:315px;padding-right:0px;}
.w_newslist_foot_qydtl2 .pic1 {margin-left:10px; display:block;margin-bottom:5px;}
.w_newslist_foot_qydtr2 .pic2 {margin-left:12px;display:block;margin-bottom:5px;}
.w_newslist_box_qydtr2{border-left:0px;margin-bottom:5px;border-right:#fec84d 1px solid;}
.w_newslist_list_qydtl2,.w_newslist_list_qydtr2{
	padding-top:3px;padding-bottom:3px;
	_padding-top:6px;_padding-bottom:6px;
	*padding-top:7px;*padding-bottom:7px;

}
.w_newslist_box_qydtl2,.w_newslist_box_qydtr2{
	padding-bottom:7px !important;
	*padding-bottom:10px;
}
.w_newslist_list_qydtr2,.w_newslist_list_qydtl2{
	*padding-top:4px;*padding-bottom:5px;
}
.w_newslist_head_qydtr2 .title,.w_newslist_head_qydtr2 a{
	*float:left;
}
/*.w_newslist_head_qydtr2{height:34px;background-image:url(../images/qydt_bg0327.jpg);}*/





.w_newslist_head_sy span.jbx{
		margin-left:7px;
}









